homeio/Node-Red/tests/sampleMqttClient
[{"id":"70307655.c39188","type":"mqtt out","z":"a577a385.b32c1","name":"","topic":"fifo","qos":"0","retain":"true","broker":"f48081b0.951028","x":610,"y":240,"wires":[]},{"id":"744d16fc.011758","type":"inject","z":"a577a385.b32c1","name":"INSERT Bind","topic":"","payload":"[551, \"This is a strange world's end\"]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":240,"wires":[["70307655.c39188"]]},{"id":"63279373.44c274","type":"mqtt in","z":"a577a385.b32c1","name":"","topic":"mqtt","qos":"0","broker":"f48081b0.951028","x":190,"y":340,"wires":[["193b4fe.1557eb"]]},{"id":"193b4fe.1557eb","type":"debug","z":"a577a385.b32c1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":640,"y":340,"wires":[]},{"id":"92d27fa8.df55f8","type":"comment","z":"a577a385.b32c1","name":"Publish data using MQTT and store them into the DB","info":"","x":340,"y":200,"wires":[]},{"id":"3c80b7d8.8be748","type":"comment","z":"a577a385.b32c1","name":"Receive data from MQTT","info":"","x":250,"y":300,"wires":[]},{"id":"4a6a3bcf.dc92a4","type":"mqtt out","z":"a577a385.b32c1","name":"","topic":"mqtt","qos":"0","retain":"true","broker":"f48081b0.951028","x":610,"y":140,"wires":[]},{"id":"897cfd4b.ec6b48","type":"inject","z":"a577a385.b32c1","name":"INSERT Bind","topic":"INSERT INTO test1 (id,text) VALUES (?, ?)","payload":"[5, \"This is a strange world's end\"]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":140,"wires":[["4a6a3bcf.dc92a4"]]},{"id":"693e63a4.2837b4","type":"comment","z":"a577a385.b32c1","name":"Publish data using MQTT","info":"","x":250,"y":100,"wires":[]},{"id":"f48081b0.951028","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.13","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]