homeio/Node-Red/tests/sampleMqttServer
[{"id":"228b0fc4.0db148","type":"debug","z":"45ba430d.e818fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":80,"wires":[]},{"id":"b962b5db.e385d8","type":"mosca in","z":"45ba430d.e818fc","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"root","password":"root","dburl":"localhost","x":210,"y":80,"wires":[["228b0fc4.0db148"]]},{"id":"61dc57d5.24bda","type":"mqtt out","z":"45ba430d.e818fc","name":"","topic":"mqtt","qos":"0","retain":"true","broker":"7d65b10f.124e5","x":650,"y":280,"wires":[]},{"id":"e1f01b2.7ab53e8","type":"inject","z":"45ba430d.e818fc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":280,"wires":[["61dc57d5.24bda"]]},{"id":"a3d9ff52.0316a8","type":"debug","z":"45ba430d.e818fc","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":830,"y":420,"wires":[]},{"id":"76742b7d.c5477c","type":"mysql","z":"45ba430d.e818fc","mydb":"242bf28.b2ea20e","name":"MYSQL","x":640,"y":420,"wires":[["a3d9ff52.0316a8"]]},{"id":"4f168cf6.afa7fc","type":"mqtt in","z":"45ba430d.e818fc","name":"","topic":"fifo","qos":"0","broker":"7d65b10f.124e5","x":170,"y":560,"wires":[["d3eed232.369398"]]},{"id":"770355e8.a7b73c","type":"inject","z":"45ba430d.e818fc","name":"Go","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190,"y":380,"wires":[["22977e47.9a4422"]]},{"id":"22977e47.9a4422","type":"function","z":"45ba430d.e818fc","name":"INSERT Bind","func":"msg.topic = \"INSERT INTO test1 (id,text) VALUES (?,?)\";\nmsg.payload = [2, \"This is a funny world's end\"];\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":380,"wires":[["76742b7d.c5477c","ccd583e2.d42968"]]},{"id":"e14d6d43.e8b568","type":"inject","z":"45ba430d.e818fc","name":"Go","topic":"","payload":"funny","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":190,"y":460,"wires":[["53d9540f.c5f4bc"]]},{"id":"53d9540f.c5f4bc","type":"function","z":"45ba430d.e818fc","name":"SELECT Old","func":"msg.topic = \"SELECT * FROM test1 WHERE text LIKE '%\" + msg.payload + \"%'\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":460,"wires":[["76742b7d.c5477c"]]},{"id":"90ab74c9.7e662","type":"inject","z":"45ba430d.e818fc","name":"INSERT Bind - via JSON","topic":"INSERT INTO test1 (id,text) VALUES (?, ?)","payload":"[5, \"This is a strange world's end\"]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":250,"y":420,"wires":[["532f5615.d4f5f"]]},{"id":"532f5615.d4f5f","type":"json","z":"45ba430d.e818fc","name":"","property":"payload","action":"","pretty":false,"x":430,"y":420,"wires":[["76742b7d.c5477c"]]},{"id":"44329b66.561ec4","type":"comment","z":"45ba430d.e818fc","name":"Flow to insert data into the database","info":"","x":260,"y":340,"wires":[]},{"id":"a1e82f5e.cb98a8","type":"comment","z":"45ba430d.e818fc","name":"MQTT broker ","info":"","x":190,"y":40,"wires":[]},{"id":"a5bd2c4a.2a77e8","type":"comment","z":"45ba430d.e818fc","name":"Publish data using MQTT ","info":"","x":230,"y":240,"wires":[]},{"id":"bdae41d0.a41da","type":"comment","z":"45ba430d.e818fc","name":"Receive data and insert it into the DB","info":"","x":270,"y":520,"wires":[]},{"id":"8669259f.01d9c8","type":"debug","z":"45ba430d.e818fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":180,"wires":[]},{"id":"c15abe36.8e1b88","type":"comment","z":"45ba430d.e818fc","name":"Receive data from MQTT ","info":"","x":230,"y":140,"wires":[]},{"id":"fdcfd42e.ed3ec","type":"mqtt in","z":"45ba430d.e818fc","name":"","topic":"mqtt","qos":"0","broker":"7d65b10f.124e5","x":170,"y":180,"wires":[["8669259f.01d9c8"]]},{"id":"748b7b34.e11254","type":"function","z":"45ba430d.e818fc","name":"PARSE payload","func":"msg.topic = \"INSERT INTO test1 (id,text) VALUES (?,?)\";\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":560,"wires":[["76742b7d.c5477c","bcf1f2f9.a02bc"]]},{"id":"bcf1f2f9.a02bc","type":"debug","z":"45ba430d.e818fc","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":830,"y":560,"wires":[]},{"id":"ccd583e2.d42968","type":"debug","z":"45ba430d.e818fc","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":830,"y":380,"wires":[]},{"id":"d3eed232.369398","type":"json","z":"45ba430d.e818fc","name":"","property":"payload","action":"","pretty":false,"x":310,"y":560,"wires":[["748b7b34.e11254"]]},{"id":"7d65b10f.124e5","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"242bf28.b2ea20e","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"mqttTest","tz":""}]