homeio/Node-Red/tests/serverV2Nodered
[{"id":"7f05e41b.e8f3fc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"34c0d42d.1e94ac","type":"mqtt out","z":"7f05e41b.e8f3fc","name":"","topic":"mqtt2","qos":"0","retain":"true","broker":"4166f4c1.e5e924","x":650,"y":280,"wires":[]},{"id":"6cab8889.d40b78","type":"inject","z":"7f05e41b.e8f3fc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":280,"wires":[["34c0d42d.1e94ac"]]},{"id":"2d182feb.afd838","type":"debug","z":"7f05e41b.e8f3fc","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":830,"y":420,"wires":[]},{"id":"44fea8c.755e058","type":"mqtt in","z":"7f05e41b.e8f3fc","name":"","topic":"fifo","qos":"0","broker":"4166f4c1.e5e924","x":170,"y":560,"wires":[["75d470ba.cc09d"]]},{"id":"ed2e5e30.3f4cf8","type":"inject","z":"7f05e41b.e8f3fc","name":"Go","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190,"y":380,"wires":[["2c5bb72c.c04238"]]},{"id":"2c5bb72c.c04238","type":"function","z":"7f05e41b.e8f3fc","name":"INSERT Bind","func":"msg.topic = \"INSERT INTO test1 (id,text) VALUES (?,?)\";\nmsg.payload = [2, \"This is a funny world's end\"];\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":380,"wires":[["db09be88.d3baf","5de4329.2cc9bcc"]]},{"id":"57567b09.8db90c","type":"inject","z":"7f05e41b.e8f3fc","name":"Go","topic":"","payload":"funny","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":190,"y":460,"wires":[["c43ebc18.4cba9"]]},{"id":"c43ebc18.4cba9","type":"function","z":"7f05e41b.e8f3fc","name":"SELECT Old","func":"msg.topic = \"SELECT * FROM test1 WHERE text LIKE '%\" + msg.payload + \"%'\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":460,"wires":[["db09be88.d3baf"]]},{"id":"f674e1a7.eae3e","type":"inject","z":"7f05e41b.e8f3fc","name":"INSERT Bind - via JSON","topic":"INSERT INTO test1 (id,text) VALUES (?, ?)","payload":"[5, \"This is a strange world's end\"]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":250,"y":420,"wires":[["1fca62d2.73a9cd"]]},{"id":"1fca62d2.73a9cd","type":"json","z":"7f05e41b.e8f3fc","name":"","property":"payload","action":"","pretty":false,"x":430,"y":420,"wires":[["db09be88.d3baf"]]},{"id":"ccf3dfc1.78c298","type":"comment","z":"7f05e41b.e8f3fc","name":"Flow to insert data into the database","info":"","x":260,"y":340,"wires":[]},{"id":"1c767bf3.bc5424","type":"comment","z":"7f05e41b.e8f3fc","name":"MQTT broker ","info":"","x":190,"y":40,"wires":[]},{"id":"32aa70e7.00036","type":"comment","z":"7f05e41b.e8f3fc","name":"Publish data using MQTT ","info":"","x":230,"y":240,"wires":[]},{"id":"fed663f4.2cc388","type":"comment","z":"7f05e41b.e8f3fc","name":"Receive data and insert it into the DB","info":"","x":270,"y":520,"wires":[]},{"id":"62ef94df.cb3244","type":"debug","z":"7f05e41b.e8f3fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":180,"wires":[]},{"id":"68b2a007.995c6","type":"comment","z":"7f05e41b.e8f3fc","name":"Receive data from MQTT ","info":"","x":230,"y":140,"wires":[]},{"id":"568a109f.10924","type":"mqtt in","z":"7f05e41b.e8f3fc","name":"","topic":"mqtt2","qos":"0","broker":"4166f4c1.e5e924","x":170,"y":180,"wires":[["62ef94df.cb3244"]]},{"id":"eaacc71e.2aa22","type":"function","z":"7f05e41b.e8f3fc","name":"PARSE payload","func":"msg.topic = \"INSERT INTO test1 (id,text) VALUES (?,?)\";\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":560,"wires":[["db09be88.d3baf","22fc8a35.368936"]]},{"id":"22fc8a35.368936","type":"debug","z":"7f05e41b.e8f3fc","name":"","active":false,"tosidebar":true,"console":false,"complete":"false","x":830,"y":560,"wires":[]},{"id":"5de4329.2cc9bcc","type":"debug","z":"7f05e41b.e8f3fc","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":830,"y":380,"wires":[]},{"id":"75d470ba.cc09d","type":"json","z":"7f05e41b.e8f3fc","name":"","property":"payload","action":"","pretty":false,"x":310,"y":560,"wires":[["eaacc71e.2aa22"]]},{"id":"db09be88.d3baf","type":"mysql","z":"7f05e41b.e8f3fc","mydb":"25892498.bc4f14","name":"MYSQL","x":640,"y":420,"wires":[["2d182feb.afd838"]]},{"id":"10906af5.5b2115","type":"debug","z":"7f05e41b.e8f3fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":80,"wires":[]},{"id":"cb77f72.1386788","type":"mosca in","z":"7f05e41b.e8f3fc","mqtt_port":"8883","mqtt_ws_port":"8888","name":"","username":"","password":"","dburl":"","x":210,"y":80,"wires":[["10906af5.5b2115"]]},{"id":"44177b64.f174b4","type":"http in","z":"7f05e41b.e8f3fc","name":"","url":"/hello","method":"post","upload":false,"swaggerDoc":"","x":190,"y":680,"wires":[["7f12fc2c.378c54","c29fa27d.f710d"]]},{"id":"1a5698ee.770f57","type":"comment","z":"7f05e41b.e8f3fc","name":"Receive data and insert it into the DB","info":"","x":270,"y":520,"wires":[]},{"id":"f9c8cd99.7e094","type":"comment","z":"7f05e41b.e8f3fc","name":"POST HTTP","info":"","x":190,"y":640,"wires":[]},{"id":"7f12fc2c.378c54","type":"debug","z":"7f05e41b.e8f3fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":680,"wires":[]},{"id":"dfcf256e.c3df08","type":"comment","z":"7f05e41b.e8f3fc","name":"GET HTTP","info":"","x":180,"y":740,"wires":[]},{"id":"c29fa27d.f710d","type":"http response","z":"7f05e41b.e8f3fc","name":"","statusCode":"","headers":{},"x":670,"y":680,"wires":[]},{"id":"f286c120.cfdab8","type":"http in","z":"7f05e41b.e8f3fc","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":180,"y":780,"wires":[["525b3f79.d435c"]]},{"id":"525b3f79.d435c","type":"template","z":"7f05e41b.e8f3fc","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>","x":430,"y":780,"wires":[["eaf8b41.c321448"]]},{"id":"eaf8b41.c321448","type":"http response","z":"7f05e41b.e8f3fc","name":"","statusCode":"","headers":{},"x":670,"y":780,"wires":[]},{"id":"4166f4c1.e5e924","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"8883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"25892498.bc4f14","type":"MySQLdatabase","z":"7f05e41b.e8f3fc","host":"127.0.0.1","port":"3306","db":"mqttTest","tz":""}]