homeio/Node-Red/local-server/node-red.txt
[{"id":"9cbc7cab.68937","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"41651b04.173064","type":"tab","label":"Command Lights","disabled":false,"info":""},{"id":"96d7a3a.d3fba6","type":"tab","label":"Alarm","disabled":false,"info":""},{"id":"590643ff.55b01c","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2fac5bbd.8d3654","type":"mqtt-broker","z":"","name":"","broker":"jareon.ddns.net","port":"8080","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3b504a85.921dd6","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"97de2e79.bd4f8","type":"mosca in","z":"9cbc7cab.68937","mqtt_port":1883,"mqtt_ws_port":"8080","name":"","username":"","password":"","dburl":"","x":229,"y":73,"wires":[[]]},{"id":"18df7117.468bbf","type":"mqtt in","z":"9cbc7cab.68937","name":"entree","topic":"test","qos":"2","broker":"590643ff.55b01c","x":131,"y":148,"wires":[["2bfc4cb5.e508a4"]]},{"id":"36b1ffaa.b1098","type":"mqtt out","z":"9cbc7cab.68937","name":"sortie","topic":"test","qos":"2","retain":"","broker":"3b504a85.921dd6","x":363,"y":222,"wires":[]},{"id":"8bc6bfb3.5b719","type":"inject","z":"9cbc7cab.68937","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":172,"y":221,"wires":[["36b1ffaa.b1098"]]},{"id":"2bfc4cb5.e508a4","type":"debug","z":"9cbc7cab.68937","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":323,"y":146,"wires":[]},{"id":"e2547fa8.4f531","type":"mqtt out","z":"9cbc7cab.68937","name":"","topic":"/home/A/Output/bool/Lights","qos":"2","retain":"","broker":"3b504a85.921dd6","x":575,"y":362,"wires":[]},{"id":"c52f8b56.ad12f8","type":"inject","z":"9cbc7cab.68937","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":144,"y":327,"wires":[["e2547fa8.4f531"]]},{"id":"18ad6a80.4f18c6","type":"inject","z":"9cbc7cab.68937","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":141,"y":388,"wires":[["e2547fa8.4f531"]]},{"id":"b6eded80.c70ae","type":"mqtt in","z":"9cbc7cab.68937","name":"","topic":"mqtt","qos":"2","broker":"2fac5bbd.8d3654","x":116.5,"y":550.1499633789062,"wires":[["567cac5f.73b9f4"]]},{"id":"567cac5f.73b9f4","type":"json","z":"9cbc7cab.68937","name":"","property":"payload","action":"","pretty":false,"x":267.5,"y":549.4500122070312,"wires":[["e2547fa8.4f531"]]},{"id":"16af9bf7.178b14","type":"mqtt in","z":"41651b04.173064","name":"Server Light In","topic":"server_webh/node-red/light/In","qos":"0","broker":"2fac5bbd.8d3654","x":100,"y":360,"wires":[["4e1741bb.0e363"]]},{"id":"5538021c.4b2fcc","type":"switch","z":"41651b04.173064","name":"switch","property":"payload.zone","propertyType":"msg","rules":[{"t":"eq","v":"A","vt":"str"},{"t":"eq","v":"B","vt":"str"},{"t":"eq","v":"C","vt":"str"},{"t":"eq","v":"D","vt":"str"},{"t":"eq","v":"E","vt":"str"},{"t":"eq","v":"F","vt":"str"},{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"H","vt":"str"},{"t":"eq","v":"I","vt":"str"},{"t":"eq","v":"J","vt":"str"},{"t":"eq","v":"K","vt":"str"},{"t":"eq","v":"L","vt":"str"},{"t":"eq","v":"M","vt":"str"},{"t":"eq","v":"N","vt":"str"},{"t":"eq","v":"O","vt":"str"}],"checkall":"true","repair":false,"outputs":15,"x":450,"y":360,"wires":[["c84fbf47.492cd"],["19122592.4e024a"],["44f4a754.137758"],["4758e131.fa7ec"],["7aca6b17.8a2a74"],["4427a242.06250c"],["37376d1c.828b92"],["54f64144.0a333"],["d2a033bd.346b9"],["52d007bc.be9208"],["a1f9e078.5ea2b"],["f2ef4bdd.0328d8"],["e5123383.a4005"],["7fd02c54.2f0de4"],["82edf47d.754368"]]},{"id":"d3bccac8.4bad58","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/B/Output/bool/Lights","qos":"2","retain":"","broker":"3b504a85.921dd6","x":843,"y":78,"wires":[]},{"id":"378a955d.1db50a","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/C/Output/bool/Lights","qos":"2","retain":"","broker":"3b504a85.921dd6","x":842,"y":122,"wires":[]},{"id":"44e2ea9.3e6f514","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/D/Output/bool/Lights","qos":"2","retain":"","broker":"3b504a85.921dd6","x":843,"y":167,"wires":[]},{"id":"20525ce1.7be8f4","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/E/Output/bool/Lights","qos":"2","retain":"","broker":"3b504a85.921dd6","x":843,"y":210,"wires":[]},{"id":"cdeeae86.bb0e3","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/F/Output/bool/Lights","qos":"2","retain":"","broker":"3b504a85.921dd6","x":843,"y":257,"wires":[]},{"id":"b40ef5d.9b7d608","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/G/Output/bool/Lights","qos":"2","retain":"","broker":"3b504a85.921dd6","x":844,"y":300,"wires":[]},{"id":"45359e58.0dcd1","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/H/Output/bool/Lights","qos":"2","retain":"","broker":"3b504a85.921dd6","x":846,"y":346,"wires":[]},{"id":"d58bc4b.a34c138","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/A/Output/bool/Lights","qos":"2","retain":"","broker":"3b504a85.921dd6","x":842,"y":37,"wires":[]},{"id":"820fc802.76e7e8","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/I/Output/bool/Lights","qos":"2","retain":"","broker":"3b504a85.921dd6","x":849,"y":391,"wires":[]},{"id":"d26a2178.be1d","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/J/Output/bool/Lights","qos":"2","retain":"","broker":"3b504a85.921dd6","x":849,"y":438,"wires":[]},{"id":"fba0e0f8.86eea","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/K/Output/bool/Lights","qos":"2","retain":"","broker":"3b504a85.921dd6","x":849,"y":480,"wires":[]},{"id":"c84fbf47.492cd","type":"function","z":"41651b04.173064","name":"lights","func":"var nem\nif(msg.payload.light === 1)\n    nem = { payload:\"true\" };\nelse\n    nem = { payload:\"false\" };\nreturn nem","outputs":1,"noerr":0,"x":644.5,"y":36.45001220703125,"wires":[["d58bc4b.a34c138"]]},{"id":"4758e131.fa7ec","type":"function","z":"41651b04.173064","name":"lights","func":"var nem\nif(msg.payload.light === 1)\n    nem = { payload:\"true\" };\nelse\n    nem = { payload:\"false\" };\nreturn nem","outputs":1,"noerr":0,"x":643,"y":167,"wires":[["44e2ea9.3e6f514"]]},{"id":"44f4a754.137758","type":"function","z":"41651b04.173064","name":"lights","func":"var nem\nif(msg.payload.light === 1)\n    nem = { payload:\"true\" };\nelse\n    nem = { payload:\"false\" };\nreturn nem","outputs":1,"noerr":0,"x":645,"y":122,"wires":[["378a955d.1db50a"]]},{"id":"19122592.4e024a","type":"function","z":"41651b04.173064","name":"lights","func":"var nem\nif(msg.payload.light === 1)\n    nem = { payload:\"true\" };\nelse\n    nem = { payload:\"false\" };\nreturn nem","outputs":1,"noerr":0,"x":643,"y":78,"wires":[["d3bccac8.4bad58"]]},{"id":"7aca6b17.8a2a74","type":"function","z":"41651b04.173064","name":"lights","func":"var nem\nif(msg.payload.light === 1)\n    nem = { payload:\"true\" };\nelse\n    nem = { payload:\"false\" };\nreturn nem","outputs":1,"noerr":0,"x":647,"y":210,"wires":[["20525ce1.7be8f4"]]},{"id":"4427a242.06250c","type":"function","z":"41651b04.173064","name":"lights","func":"var nem\nif(msg.payload.light === 1)\n    nem = { payload:\"true\" };\nelse\n    nem = { payload:\"false\" };\nreturn nem","outputs":1,"noerr":0,"x":644,"y":257,"wires":[["cdeeae86.bb0e3"]]},{"id":"37376d1c.828b92","type":"function","z":"41651b04.173064","name":"lights","func":"var nem\nif(msg.payload.light === 1)\n    nem = { payload:\"true\" };\nelse\n    nem = { payload:\"false\" };\nreturn nem","outputs":1,"noerr":0,"x":647,"y":300,"wires":[["b40ef5d.9b7d608"]]},{"id":"54f64144.0a333","type":"function","z":"41651b04.173064","name":"lights","func":"var nem\nif(msg.payload.light === 1)\n    nem = { payload:\"true\" };\nelse\n    nem = { payload:\"false\" };\nreturn nem","outputs":1,"noerr":0,"x":647,"y":346,"wires":[["45359e58.0dcd1"]]},{"id":"d2a033bd.346b9","type":"function","z":"41651b04.173064","name":"lights","func":"var nem\nif(msg.payload.light === 1)\n    nem = { payload:\"true\" };\nelse\n    nem = { payload:\"false\" };\nreturn nem","outputs":1,"noerr":0,"x":647,"y":391,"wires":[["820fc802.76e7e8"]]},{"id":"52d007bc.be9208","type":"function","z":"41651b04.173064","name":"lights","func":"var nem\nif(msg.payload.light === 1)\n    nem = { payload:\"true\" };\nelse\n    nem = { payload:\"false\" };\nreturn nem","outputs":1,"noerr":0,"x":648,"y":438,"wires":[["d26a2178.be1d"]]},{"id":"a1f9e078.5ea2b","type":"function","z":"41651b04.173064","name":"lights","func":"var nem\nif(msg.payload.light === 1)\n    nem = { payload:\"true\" };\nelse\n    nem = { payload:\"false\" };\nreturn nem","outputs":1,"noerr":0,"x":647,"y":480,"wires":[["fba0e0f8.86eea"]]},{"id":"4e1741bb.0e363","type":"json","z":"41651b04.173064","name":"","property":"payload","action":"","pretty":true,"x":330,"y":360,"wires":[["5538021c.4b2fcc"]]},{"id":"a3902952.a7d7a8","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/A/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":130,"y":600,"wires":[["3481ee8d.edf0c2"]]},{"id":"61793fa.e8c45c","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/L/Output/bool/Lights","qos":"2","retain":"","broker":"3b504a85.921dd6","x":846,"y":530,"wires":[]},{"id":"f2ef4bdd.0328d8","type":"function","z":"41651b04.173064","name":"lights","func":"var nem\nif(msg.payload.light === 1)\n    nem = { payload:\"true\" };\nelse\n    nem = { payload:\"false\" };\nreturn nem","outputs":1,"noerr":0,"x":644,"y":530,"wires":[["61793fa.e8c45c"]]},{"id":"769706c.6d889f8","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/M/Output/bool/Lights","qos":"2","retain":"","broker":"3b504a85.921dd6","x":843,"y":577,"wires":[]},{"id":"e5123383.a4005","type":"function","z":"41651b04.173064","name":"lights","func":"var nem\nif(msg.payload.light === 1)\n    nem = { payload:\"true\" };\nelse\n    nem = { payload:\"false\" };\nreturn nem","outputs":1,"noerr":0,"x":641,"y":577,"wires":[["769706c.6d889f8"]]},{"id":"a65f1a52.ace228","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/N/Output/bool/Lights","qos":"2","retain":"","broker":"3b504a85.921dd6","x":844,"y":625,"wires":[]},{"id":"7fd02c54.2f0de4","type":"function","z":"41651b04.173064","name":"lights","func":"var nem\nif(msg.payload.light === 1)\n    nem = { payload:\"true\" };\nelse\n    nem = { payload:\"false\" };\nreturn nem","outputs":1,"noerr":0,"x":642,"y":625,"wires":[["a65f1a52.ace228"]]},{"id":"1f241068.b851a","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/O/Output/bool/Lights","qos":"2","retain":"","broker":"3b504a85.921dd6","x":843,"y":665,"wires":[]},{"id":"82edf47d.754368","type":"function","z":"41651b04.173064","name":"lights","func":"var nem\nif(msg.payload.light === 1)\n    nem = { payload:\"true\" };\nelse\n    nem = { payload:\"false\" };\nreturn nem","outputs":1,"noerr":0,"x":641,"y":665,"wires":[["1f241068.b851a"]]},{"id":"47f9d3e3.8a079c","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/B/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":130,"y":640,"wires":[["3481ee8d.edf0c2"]]},{"id":"bf2fe451.3b7a98","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/C/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":130,"y":680,"wires":[["3481ee8d.edf0c2"]]},{"id":"cfd0c61b.9d4048","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/D/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":130,"y":720,"wires":[["3481ee8d.edf0c2"]]},{"id":"dd440647.02fac8","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/E/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":130,"y":760,"wires":[["3481ee8d.edf0c2"]]},{"id":"2585645a.a4226c","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/F/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":130,"y":800,"wires":[["3481ee8d.edf0c2"]]},{"id":"e38c2868.444488","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/G/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":140,"y":840,"wires":[["3481ee8d.edf0c2"]]},{"id":"99a36629.b0ea48","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/H/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":130,"y":880,"wires":[["3481ee8d.edf0c2"]]},{"id":"19b1e941.43a587","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/I/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":130,"y":920,"wires":[["3481ee8d.edf0c2"]]},{"id":"ea28d35a.d89d1","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/J/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":130,"y":960,"wires":[["3481ee8d.edf0c2"]]},{"id":"6cc9bb92.8b0af4","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/K/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":130,"y":1000,"wires":[["3481ee8d.edf0c2"]]},{"id":"7b7675e6.edc33c","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/L/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":130,"y":1040,"wires":[["3481ee8d.edf0c2"]]},{"id":"4e750570.e6808c","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/M/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":140,"y":1080,"wires":[["3481ee8d.edf0c2"]]},{"id":"9b396c44.c25a7","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/N/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":130,"y":1120,"wires":[["3481ee8d.edf0c2"]]},{"id":"534c8de4.b23614","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/O/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":140,"y":1160,"wires":[["3481ee8d.edf0c2"]]},{"id":"3481ee8d.edf0c2","type":"function","z":"41651b04.173064","name":"object build","func":"var msg;\nswitch(msg.topic) {\n    case \"/home/A/Output/bool/Lights\":\n        var index=\"A\";\n        break;\n    case \"/home/B/Output/bool/Lights\":\n        var index=\"B\";\n        break;\n    case \"/home/C/Output/bool/Lights\":\n        var index=\"C\";\n        break;\n    case \"/home/D/Output/bool/Lights\":\n        var index=\"D\";\n        break;\n    case \"/home/E/Output/bool/Lights\":\n        var index=\"E\";\n        break;\n    case \"/home/F/Output/bool/Lights\":\n        var index=\"F\";\n        break;\n    case \"/home/G/Output/bool/Lights\":\n        var index=\"G\";\n        break;\n    case \"/home/H/Output/bool/Lights\":\n        var index=\"H\";\n        break;\n    case \"/home/I/Output/bool/Lights\":\n        var index=\"I\";\n        break;\n    case \"/home/J/Output/bool/Lights\":\n        var index=\"J\";\n        break;\n    case \"/home/K/Output/bool/Lights\":\n        var index=\"K\";\n        break;\n    case \"/home/L/Output/bool/Lights\":\n        var index=\"L\";\n        break;\n    case \"/home/M/Output/bool/Lights\":\n        var index=\"M\";\n        break;\n    case \"/home/N/Output/bool/Lights\":\n        var index=\"N\";\n        break;\n    case \"/home/O/Output/bool/Lights\":\n        var index=\"O\";\n        break;\n}\nif(msg.payload===\"false\"){\n    var zone = index;\n    var light =0;\n}else{\n var zone = index;\n var light = 1;\n}\nmsg='{\"zone\":\"'+index+'\",\"light\":'+light+'}';\nreturn { payload:msg};","outputs":1,"noerr":0,"x":450,"y":840,"wires":[["f806437f.bd0ca"]]},{"id":"c79082a0.b22f9","type":"mqtt out","z":"41651b04.173064","name":"","topic":"server_webh/node-red/light/Out","qos":"2","retain":"","broker":"2fac5bbd.8d3654","x":830,"y":840,"wires":[]},{"id":"f806437f.bd0ca","type":"json","z":"41651b04.173064","name":"","property":"payload","action":"","pretty":false,"x":610,"y":840,"wires":[["c79082a0.b22f9"]]},{"id":"f2f126ad.64eec8","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/A/Input/bool/Door_Detector_2","qos":"2","broker":"590643ff.55b01c","x":180,"y":100,"wires":[["31cc2543.b98c1a"]]},{"id":"37fc5541.bd3f8a","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/D/Input/bool/Door_Detector","qos":"2","broker":"590643ff.55b01c","x":180,"y":140,"wires":[["31cc2543.b98c1a"]]},{"id":"5d2d769c.da5e98","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/E/Input/bool/Door_Detector_1","qos":"2","broker":"3b504a85.921dd6","x":180,"y":180,"wires":[["31cc2543.b98c1a"]]},{"id":"bf1da61c.7c6ca8","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/E/Input/bool/Door_Detector_2","qos":"2","broker":"3b504a85.921dd6","x":180,"y":220,"wires":[["31cc2543.b98c1a"]]},{"id":"96a85649.467f08","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/H/Input/boolDoor_Detector_1","qos":"2","broker":"590643ff.55b01c","x":180,"y":260,"wires":[["31cc2543.b98c1a"]]},{"id":"cb792a46.7fcf18","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/H/Input/boolDoor_Detector_2","qos":"2","broker":"3b504a85.921dd6","x":180,"y":300,"wires":[["31cc2543.b98c1a"]]},{"id":"5c879b3c.dd1524","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/A/Input/bool/Door_Detector_1","qos":"2","broker":"590643ff.55b01c","x":180,"y":60,"wires":[["31cc2543.b98c1a"]]},{"id":"9df983aa.2d047","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/H/Input/bool/Door_Detector_2","qos":"2","broker":"3b504a85.921dd6","x":180,"y":340,"wires":[["31cc2543.b98c1a"]]},{"id":"e1e0577c.458458","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/J/Input/bool/Door_Detector_2","qos":"2","broker":"3b504a85.921dd6","x":180,"y":380,"wires":[["31cc2543.b98c1a"]]},{"id":"393575e3.2c728a","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/J/Input/bool/Door_Detector_2","qos":"2","broker":"3b504a85.921dd6","x":180,"y":420,"wires":[["31cc2543.b98c1a"]]},{"id":"958df873.4246f8","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/M/Input/bool/Door_Detector_2","qos":"2","broker":"3b504a85.921dd6","x":180,"y":460,"wires":[["31cc2543.b98c1a"]]},{"id":"88828004.663b3","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/M/Input/bool/Door_Detector_2","qos":"2","broker":"3b504a85.921dd6","x":180,"y":500,"wires":[["31cc2543.b98c1a"]]},{"id":"ede34b18.3aaea8","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/N/Input/bool/Door_Detector_2","qos":"2","broker":"3b504a85.921dd6","x":180,"y":540,"wires":[["31cc2543.b98c1a"]]},{"id":"698b2037.4c947","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/N/Input/bool/Door_Detector_2","qos":"2","broker":"3b504a85.921dd6","x":180,"y":580,"wires":[["31cc2543.b98c1a"]]},{"id":"e2dfdb3e.419ea8","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/F/Input/bool/Motion_Detector","qos":"2","broker":"3b504a85.921dd6","x":180,"y":620,"wires":[["31cc2543.b98c1a"]]},{"id":"31cc2543.b98c1a","type":"mqtt out","z":"96d7a3a.d3fba6","name":"","topic":"IntrusionDetected","qos":"","retain":"","broker":"3b504a85.921dd6","x":660,"y":280,"wires":[]},{"id":"5d096295.a2559c","type":"mqtt out","z":"96d7a3a.d3fba6","name":"","topic":"/home/E/Output/bool/Siren","qos":"2","retain":"","broker":"3b504a85.921dd6","x":780,"y":860,"wires":[]},{"id":"8f15a711.4a13f8","type":"mqtt out","z":"96d7a3a.d3fba6","name":"","topic":"/home/O/Output/bool/Siren","qos":"2","retain":"","broker":"3b504a85.921dd6","x":780,"y":920,"wires":[]},{"id":"a305beaf.59ba7","type":"mqtt in","z":"41651b04.173064","name":"","topic":"EveryLightsOn","qos":"2","broker":"3b504a85.921dd6","x":180,"y":300,"wires":[["d58bc4b.a34c138","d3bccac8.4bad58","378a955d.1db50a","44e2ea9.3e6f514","20525ce1.7be8f4","cdeeae86.bb0e3","b40ef5d.9b7d608","45359e58.0dcd1","820fc802.76e7e8","fba0e0f8.86eea","d26a2178.be1d","61793fa.e8c45c","769706c.6d889f8","a65f1a52.ace228","1f241068.b851a"]]},{"id":"561ec17.7ea9c4","type":"mqtt out","z":"96d7a3a.d3fba6","name":"","topic":"EveryLightsOn","qos":"","retain":"","broker":"3b504a85.921dd6","x":740,"y":800,"wires":[]},{"id":"bd1d0c64.62939","type":"delay","z":"96d7a3a.d3fba6","name":"5MinutesSirenOff","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":980,"wires":[["9954e0a1.744bd"]]},{"id":"9954e0a1.744bd","type":"function","z":"96d7a3a.d3fba6","name":"SirenOff","func":"var nem\nnem = { payload:\"False\" };\nreturn nem","outputs":1,"noerr":0,"x":420,"y":920,"wires":[["5d096295.a2559c","8f15a711.4a13f8"]]},{"id":"bbca015c.54206","type":"mqtt in","z":"96d7a3a.d3fba6","name":"CurrentTime","topic":"/home/general/Memory/DateTime/Date_and_Time","qos":"2","broker":"3b504a85.921dd6","x":110,"y":1120,"wires":[["e9dcca91.f87db8"]]},{"id":"e9dcca91.f87db8","type":"function","z":"96d7a3a.d3fba6","name":"dateParser","func":"var msg;\ndateString=msg.payload;\nvar elem = dateString.split(' ');\nvar HMinSec=elem[1].split(':');\nvar heure=HMinSec[0];\nvar min=HMinSec[1];\nvar sec=HMinSec[2];\nmsg='{\"hour\":\"'+heure+'\",\"min\":\"'+min+'\",\"sec\":\"'+sec+'\"}';\nreturn { payload:msg};","outputs":1,"noerr":0,"x":290,"y":1120,"wires":[["3679260a.efcfca"]]},{"id":"72dbe0c1.e4979","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"TimePeriod","qos":"2","broker":"2fac5bbd.8d3654","x":110,"y":1180,"wires":[["d1db53a.295d8b"]]},{"id":"3679260a.efcfca","type":"json","z":"96d7a3a.d3fba6","name":"","property":"payload","action":"","pretty":false,"x":450,"y":1120,"wires":[["a861f532.efb0e8"]]},{"id":"71f0cfab.cc4f6","type":"function","z":"96d7a3a.d3fba6","name":"dateParser","func":"var msg;\nvar spStart=msg.payload.time_start.split(':');\nheureStart=spStart[0];\nminStart=spStart[1];\nmsgStart='{\"hour\":\"'+heureStart+'\",\"min\":\"'+minStart+'\"}';\n\nvar spEnd=msg.payload.time_end.split(':');\nheureEnd=spEnd[0];\nminEnd=spEnd[1];\nmsgEnd='{\"hour\":\"'+heureEnd+'\",\"min\":\"'+minEnd+'\"}';\n\nmsgTot='{\"start\":'+msgStart+',\"end\":'+msgEnd+'}'\nreturn { payload:msgTot};","outputs":1,"noerr":0,"x":430,"y":1180,"wires":[["197267d6.2d8e78"]]},{"id":"d1db53a.295d8b","type":"json","z":"96d7a3a.d3fba6","name":"","property":"payload","action":"","pretty":false,"x":270,"y":1180,"wires":[["71f0cfab.cc4f6"]]},{"id":"ed63c6a.9666138","type":"file","z":"96d7a3a.d3fba6","name":"horaires","filename":"horaires","appendNewline":true,"createDir":true,"overwriteFile":"true","x":740,"y":1180,"wires":[]},{"id":"197267d6.2d8e78","type":"json","z":"96d7a3a.d3fba6","name":"","property":"payload","action":"","pretty":false,"x":590,"y":1180,"wires":[["ed63c6a.9666138"]]},{"id":"f6d2fbff.bbef78","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"IntrusionDetected","qos":"2","broker":"3b504a85.921dd6","x":140,"y":760,"wires":[["ee6c08f6.522cb8"]]},{"id":"8de6e858.a87f98","type":"function","z":"96d7a3a.d3fba6","name":"Authorisation","func":"var msg;\nvar heurecourante = context.flow;\n\nif(msg.payload === \"True\"){\n    return NULL;\n}else{\n    var config=2;\n    if(msg.payload.start.hour<msg.payload.end.hour){\n        var config=1;\n    }else if(msg.payload.start.hour==msg.payload.end.hour){\n        if(msg.payload.start.min<msg.payload.end.min){\n            var config=1;\n        }\n    }\n}\n\nvar authorisation = { payload:\"False\" };\nif(config==1){\n    if((heurecourante.hour>msg.payload.start.hour)||(heurecourante.hour==msg.payload.start.hour&&heurecourante.min>msg.payload.start.min)){\n        if((heurecourante.hour<msg.payload.end.hour)||((heurecourante.hour==msg.payload.end.hour)&&(heurecourante.min<=msg.payload.end.min))){\n           authorisation = { payload:\"True\" };\n        }\n    }\n}\nif(config==2){\n    if((heurecourante.hour>msg.payload.start.hour)||(heurecourante.hour==msg.payload.start.hour&&heurecourante.min>msg.payload.start.min)){\n        authorisation = { payload:\"True\" };\n    }\n    if((heurecourante.hour<msg.payload.end.hour)||(heurecourante.hour==msg.payload.end.hour&&heurecourante.min<msg.payload.end.min)){\n        authorisation = { payload:\"True\" };\n    }\n}\nreturn authorisation;","outputs":1,"noerr":0,"x":430,"y":860,"wires":[["5eb923e1.6ecc8c","5d096295.a2559c","8f15a711.4a13f8","bd1d0c64.62939","561ec17.7ea9c4"]]},{"id":"ee6c08f6.522cb8","type":"file in","z":"96d7a3a.d3fba6","name":"horaires","filename":"horaires","format":"utf8","chunk":false,"sendError":false,"x":320,"y":760,"wires":[["8b9cc1de.6536c"]]},{"id":"8b9cc1de.6536c","type":"json","z":"96d7a3a.d3fba6","name":"","property":"payload","action":"","pretty":false,"x":230,"y":860,"wires":[["8de6e858.a87f98"]]},{"id":"5eb923e1.6ecc8c","type":"debug","z":"96d7a3a.d3fba6","name":"CheckSuccesAuthorisation","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":780,"y":700,"wires":[]},{"id":"a861f532.efb0e8","type":"function","z":"96d7a3a.d3fba6","name":"contextSet","func":"context.flow.hour = msg.payload.hour;\ncontext.flow.min=msg.payload.min;\nreturn {payload:msg.count};","outputs":1,"noerr":0,"x":610,"y":1120,"wires":[[]]},{"id":"7a743fe0.5d906","type":"mqtt in","z":"41651b04.173064","name":"Server All Lights","topic":"server_webh/node-red/light/All","qos":"2","broker":"2fac5bbd.8d3654","x":100,"y":120,"wires":[["10b37df2.adefb2"]]},{"id":"10b37df2.adefb2","type":"mqtt out","z":"41651b04.173064","name":"","topic":"EveryLightsOn","qos":"2","retain":"","broker":"3b504a85.921dd6","x":280,"y":120,"wires":[]}]