homeio/Node-Red/remote-server/mqtt.json
[{
		"id": "7f05e41b.e8f3fc",
		"type": "tab",
		"label": "MQTT",
		"disabled": false,
		"info": ""
	},
	{
		"id": "633f8708.338368",
		"type": "tab",
		"label": "Light",
		"disabled": false,
		"info": ""
	},
	{
		"id": "5bf978a3.8d3568",
		"type": "tab",
		"label": "Alarm",
		"disabled": false,
		"info": ""
	},
	{
		"id": "5d925949.6e9938",
		"type": "subflow",
		"name": "mqtt",
		"info": "",
		"in": [],
		"out": [{
			"x": 760,
			"y": 240,
			"wires": [{
				"id": "428cf59c.1175d4",
				"port": 0
			}]
		}]
	},
	{
		"id": "8745e7c6.e1db58",
		"type": "subflow",
		"name": "backup",
		"info": "",
		"in": [],
		"out": []
	},
	{
		"id": "2739da0c.8fa2be",
		"type": "subflow",
		"name": "test global",
		"info": "",
		"in": [],
		"out": []
	},
	{
		"id": "4166f4c1.e5e924",
		"type": "mqtt-broker",
		"z": "",
		"name": "",
		"broker": "jareon.ddns.net",
		"port": "8080",
		"clientid": "",
		"usetls": false,
		"compatmode": true,
		"keepalive": "60",
		"cleansession": true,
		"birthTopic": "",
		"birthQos": "0",
		"birthPayload": "",
		"closeTopic": "",
		"closePayload": "",
		"willTopic": "",
		"willQos": "0",
		"willPayload": ""
	},
	{
		"id": "47e5951f.dcd56c",
		"type": "mqtt-broker",
		"z": "",
		"name": "",
		"broker": "localhost",
		"port": "1883",
		"clientid": "",
		"usetls": false,
		"compatmode": true,
		"keepalive": "60",
		"cleansession": true,
		"birthTopic": "",
		"birthQos": "0",
		"birthPayload": "",
		"willTopic": "",
		"willQos": "0",
		"willPayload": ""
	},
	{
		"id": "515b37ec.06ba6",
		"type": "MySQLdatabase",
		"z": "",
		"host": "127.0.0.1",
		"port": "3306",
		"db": "mqttTest",
		"tz": ""
	},
	{
		"id": "b94ca52f.e155b",
		"type": "mqtt-broker",
		"z": "",
		"broker": "localhost",
		"port": "1883",
		"clientid": "",
		"usetls": false,
		"compatmode": true,
		"keepalive": "60",
		"cleansession": true,
		"birthTopic": "",
		"birthQos": "0",
		"birthPayload": "",
		"willTopic": "",
		"willQos": "0",
		"willPayload": ""
	},
	{
		"id": "12a07296.af611d",
		"type": "mqtt-broker",
		"z": "",
		"broker": "sparks-vm24.i3s.unice.fr",
		"port": "1883",
		"clientid": "",
		"usetls": false,
		"compatmode": true,
		"keepalive": "60",
		"cleansession": true,
		"birthTopic": "",
		"birthQos": "0",
		"birthPayload": "",
		"willTopic": "",
		"willQos": "0",
		"willPayload": ""
	},
	{
		"id": "dbc3b8ff.be223",
		"type": "mqtt-broker",
		"z": "",
		"name": "",
		"broker": "localhost",
		"port": "11883",
		"clientid": "",
		"usetls": false,
		"compatmode": true,
		"keepalive": "60",
		"cleansession": true,
		"birthTopic": "",
		"birthQos": "0",
		"birthPayload": "",
		"closeTopic": "",
		"closePayload": "",
		"willTopic": "",
		"willQos": "0",
		"willPayload": ""
	},
	{
		"id": "25892498.bc4f14",
		"type": "MySQLdatabase",
		"z": "7f05e41b.e8f3fc",
		"host": "127.0.0.1",
		"port": "3306",
		"db": "ps6_iot",
		"tz": ""
	},
	{
		"id": "fb3d06d0.5d2238",
		"type": "websocket-listener",
		"z": "",
		"path": "",
		"wholemsg": "false"
	},
	{
		"id": "199c5347.570325",
		"type": "mqtt-broker",
		"z": "",
		"name": "",
		"broker": "jareon.ddns.net",
		"port": "8080",
		"clientid": "",
		"usetls": false,
		"compatmode": true,
		"keepalive": "60",
		"cleansession": true,
		"birthTopic": "",
		"birthQos": "0",
		"birthPayload": "",
		"closeTopic": "",
		"closePayload": "",
		"willTopic": "",
		"willQos": "0",
		"willPayload": ""
	},
	{
		"id": "5ccaa097.010b98",
		"type": "ui_tab",
		"z": "",
		"name": "Home",
		"icon": "dashboard"
	},
	{
		"id": "286bc485.e19c84",
		"type": "ui_group",
		"z": "",
		"name": "Default",
		"tab": "5ccaa097.010b98",
		"disp": true,
		"width": "6",
		"collapse": false
	},
	{
		"id": "5fdab97b.d5451",
		"type": "ui_base",
		"theme": {
			"name": "theme-light",
			"lightTheme": {
				"default": "#0094CE",
				"baseColor": "#0094CE",
				"baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
				"edited": true,
				"reset": false
			},
			"darkTheme": {
				"default": "#097479",
				"baseColor": "#097479",
				"baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
				"edited": false
			},
			"customTheme": {
				"name": "Untitled Theme 1",
				"default": "#4B7930",
				"baseColor": "#4B7930",
				"baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
			},
			"themeState": {
				"base-color": {
					"default": "#0094CE",
					"value": "#0094CE",
					"edited": false
				},
				"page-titlebar-backgroundColor": {
					"value": "#0094CE",
					"edited": false
				},
				"page-backgroundColor": {
					"value": "#fafafa",
					"edited": false
				},
				"page-sidebar-backgroundColor": {
					"value": "#ffffff",
					"edited": false
				},
				"group-textColor": {
					"value": "#1bbfff",
					"edited": false
				},
				"group-borderColor": {
					"value": "#ffffff",
					"edited": false
				},
				"group-backgroundColor": {
					"value": "#ffffff",
					"edited": false
				},
				"widget-textColor": {
					"value": "#111111",
					"edited": false
				},
				"widget-backgroundColor": {
					"value": "#0094ce",
					"edited": false
				},
				"widget-borderColor": {
					"value": "#ffffff",
					"edited": false
				},
				"base-font": {
					"value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
				}
			}
		},
		"site": {
			"name": "Node-RED Dashboard",
			"hideToolbar": "false",
			"allowSwipe": "false",
			"allowTempTheme": "true",
			"dateFormat": "DD/MM/YYYY",
			"sizes": {
				"sx": 48,
				"sy": 48,
				"gx": 6,
				"gy": 6,
				"cx": 6,
				"cy": 6,
				"px": 0,
				"py": 0
			}
		}
	},
	{
		"id": "5ea16fb0.4e4a4",
		"type": "mqtt-broker",
		"z": "",
		"broker": "croft.thethings.girovito.nl",
		"port": "1883",
		"clientid": "",
		"usetls": false,
		"verifyservercert": true,
		"compatmode": true,
		"keepalive": "15",
		"cleansession": true,
		"birthTopic": "",
		"birthQos": "0",
		"birthRetain": null,
		"birthPayload": "",
		"willTopic": "",
		"willQos": "0",
		"willRetain": null,
		"willPayload": ""
	},
	{
		"id": "386b7aa4.00e7c6",
		"type": "MySQLdatabase",
		"z": "",
		"host": "127.0.0.1",
		"port": "3306",
		"db": "ps6_iot",
		"tz": ""
	},
	{
		"id": "10ea7e15.334e22",
		"type": "comment",
		"z": "5d925949.6e9938",
		"name": "MQTT broker ",
		"info": "",
		"x": 370,
		"y": 100,
		"wires": []
	},
	{
		"id": "d1d53639.3655f8",
		"type": "debug",
		"z": "5d925949.6e9938",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"x": 590,
		"y": 140,
		"wires": []
	},
	{
		"id": "b9603862.4d0458",
		"type": "mosca in",
		"z": "5d925949.6e9938",
		"mqtt_port": "8080",
		"mqtt_ws_port": "1888",
		"name": "",
		"username": "root",
		"password": "root",
		"dburl": "",
		"x": 390,
		"y": 140,
		"wires": [
			[
				"d1d53639.3655f8"
			]
		]
	},
	{
		"id": "caa0c377.73e3a8",
		"type": "debug",
		"z": "5d925949.6e9938",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"x": 590,
		"y": 280,
		"wires": []
	},
	{
		"id": "4e5ca405.bc6a7c",
		"type": "comment",
		"z": "5d925949.6e9938",
		"name": "Receive data from MQTT ",
		"info": "",
		"x": 410,
		"y": 200,
		"wires": []
	},
	{
		"id": "428cf59c.1175d4",
		"type": "mqtt in",
		"z": "5d925949.6e9938",
		"name": "",
		"topic": "mqtt",
		"qos": "0",
		"broker": "4166f4c1.e5e924",
		"x": 350,
		"y": 240,
		"wires": [
			[
				"caa0c377.73e3a8"
			]
		]
	},
	{
		"id": "9a792818.aa5828",
		"type": "mqtt out",
		"z": "7f05e41b.e8f3fc",
		"name": "",
		"topic": "server_webh/node-red/light/In",
		"qos": "",
		"retain": "true",
		"broker": "199c5347.570325",
		"x": 810,
		"y": 200,
		"wires": []
	},
	{
		"id": "99d82890.f6c5d8",
		"type": "comment",
		"z": "7f05e41b.e8f3fc",
		"name": "MQTT broker ",
		"info": "",
		"x": 150,
		"y": 20,
		"wires": []
	},
	{
		"id": "e1664b63.b96348",
		"type": "mosca in",
		"z": "7f05e41b.e8f3fc",
		"mqtt_port": "8080",
		"mqtt_ws_port": "1888",
		"name": "Broker",
		"username": "root",
		"password": "root",
		"dburl": "",
		"x": 130,
		"y": 60,
		"wires": [
			[
				"4255eedc.a348b"
			]
		]
	},
	{
		"id": "22eb4eed.d90572",
		"type": "mqtt out",
		"z": "7f05e41b.e8f3fc",
		"name": "",
		"topic": "server_webh/node-red/alarm/timeperiod",
		"qos": "",
		"retain": "true",
		"broker": "199c5347.570325",
		"x": 780,
		"y": 380,
		"wires": []
	},
	{
		"id": "cc652e9e.d8a2f8",
		"type": "mqtt in",
		"z": "7f05e41b.e8f3fc",
		"name": "",
		"topic": "server_webh/node-red/light/Out",
		"qos": "2",
		"broker": "4166f4c1.e5e924",
		"x": 210,
		"y": 140,
		"wires": [
			[
				"4e1dd7e3.b797"
			]
		]
	},
	{
		"id": "c2b8d46a.aded38",
		"type": "mqtt out",
		"z": "7f05e41b.e8f3fc",
		"name": "",
		"topic": "server_webh/node-red/light/All",
		"qos": "",
		"retain": "true",
		"broker": "199c5347.570325",
		"x": 810,
		"y": 260,
		"wires": []
	},
	{
		"id": "4255eedc.a348b",
		"type": "debug",
		"z": "7f05e41b.e8f3fc",
		"name": "broker",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"x": 870,
		"y": 60,
		"wires": []
	},
	{
		"id": "22084302.620424",
		"type": "http in",
		"z": "8745e7c6.e1db58",
		"name": "",
		"url": "/lightstate",
		"method": "post",
		"upload": false,
		"swaggerDoc": "",
		"x": 230,
		"y": 280,
		"wires": [
			[
				"7da5a040.69b67",
				"cdb3463f.222c1",
				"1de7f5a2.cd32ba"
			]
		]
	},
	{
		"id": "1ff08b69.8366c5",
		"type": "comment",
		"z": "8745e7c6.e1db58",
		"name": "LIGHT HTTP                                                         ",
		"info": "",
		"x": 210,
		"y": 240,
		"wires": []
	},
	{
		"id": "80a040a0.b4d3c",
		"type": "comment",
		"z": "8745e7c6.e1db58",
		"name": "ALARM HTTP",
		"info": "",
		"x": 210,
		"y": 600,
		"wires": []
	},
	{
		"id": "ad6baa89.81f8a",
		"type": "http in",
		"z": "8745e7c6.e1db58",
		"name": "",
		"url": "/homezone",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 230,
		"y": 380,
		"wires": [
			[
				"13f08d27.d6b9ab"
			]
		]
	},
	{
		"id": "7b71bcf6.d6a6dc",
		"type": "http response",
		"z": "8745e7c6.e1db58",
		"name": "",
		"statusCode": "",
		"headers": {},
		"x": 710,
		"y": 400,
		"wires": []
	},
	{
		"id": "82087058.ccc1f",
		"type": "debug",
		"z": "8745e7c6.e1db58",
		"name": "homezone-sql-res",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"x": 750,
		"y": 360,
		"wires": []
	},
	{
		"id": "7da5a040.69b67",
		"type": "http response",
		"z": "8745e7c6.e1db58",
		"name": "",
		"statusCode": "",
		"headers": {},
		"x": 390,
		"y": 300,
		"wires": []
	},
	{
		"id": "cdb3463f.222c1",
		"type": "mqtt out",
		"z": "8745e7c6.e1db58",
		"name": "",
		"topic": "server_webh/node-red/light/In",
		"qos": "",
		"retain": "true",
		"broker": "199c5347.570325",
		"x": 670,
		"y": 280,
		"wires": []
	},
	{
		"id": "6d90abe5.a540ac",
		"type": "comment",
		"z": "8745e7c6.e1db58",
		"name": "MQTT broker ",
		"info": "",
		"x": 210,
		"y": 20,
		"wires": []
	},
	{
		"id": "8077ecc7.ea2bc",
		"type": "mosca in",
		"z": "8745e7c6.e1db58",
		"mqtt_port": "8080",
		"mqtt_ws_port": "1888",
		"name": "Broker",
		"username": "root",
		"password": "root",
		"dburl": "",
		"x": 190,
		"y": 60,
		"wires": [
			[
				"8631a206.895cc8"
			]
		]
	},
	{
		"id": "1de7f5a2.cd32ba",
		"type": "debug",
		"z": "8745e7c6.e1db58",
		"name": "post-lightstate",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"x": 420,
		"y": 260,
		"wires": []
	},
	{
		"id": "ffc12383.a968e8",
		"type": "mysql",
		"z": "8745e7c6.e1db58",
		"mydb": "25892498.bc4f14",
		"name": "MYSQL",
		"x": 580,
		"y": 380,
		"wires": [
			[
				"82087058.ccc1f",
				"7b71bcf6.d6a6dc"
			]
		]
	},
	{
		"id": "13f08d27.d6b9ab",
		"type": "function",
		"z": "8745e7c6.e1db58",
		"name": "PARSE payload",
		"func": "msg.topic = \"SELECT l.zone, home_zone.description, l.light FROM home_light l INNER JOIN (SELECT zone, max(id) as maxId FROM home_light GROUP BY zone) j ON l.zone = j.zone AND l.id = j.maxId INNER JOIN home_zone ON l.zone = home_zone.zone\";\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 420,
		"y": 380,
		"wires": [
			[
				"ffc12383.a968e8"
			]
		]
	},
	{
		"id": "541d1d2d.2f82ac",
		"type": "http in",
		"z": "8745e7c6.e1db58",
		"name": "",
		"url": "/alarm/timeperiod",
		"method": "post",
		"upload": false,
		"swaggerDoc": "",
		"x": 260,
		"y": 640,
		"wires": [
			[
				"d4e3629a.2bc3e8",
				"73a6698.f23ab18",
				"81fe7fba.cef4e"
			]
		]
	},
	{
		"id": "d4e3629a.2bc3e8",
		"type": "http response",
		"z": "8745e7c6.e1db58",
		"name": "",
		"statusCode": "",
		"headers": {},
		"x": 450,
		"y": 660,
		"wires": []
	},
	{
		"id": "68a6a542.bc13cc",
		"type": "debug",
		"z": "8745e7c6.e1db58",
		"name": "post-timeperiod",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"x": 800,
		"y": 600,
		"wires": []
	},
	{
		"id": "73a6698.f23ab18",
		"type": "mqtt out",
		"z": "8745e7c6.e1db58",
		"name": "",
		"topic": "server_webh/node-red/alarm/timeperiod",
		"qos": "",
		"retain": "true",
		"broker": "199c5347.570325",
		"x": 780,
		"y": 640,
		"wires": []
	},
	{
		"id": "2011e2a.651dc1e",
		"type": "mysql",
		"z": "8745e7c6.e1db58",
		"mydb": "25892498.bc4f14",
		"name": "MYSQL",
		"x": 780,
		"y": 160,
		"wires": [
			[
				"acaf1e1b.164f7"
			]
		]
	},
	{
		"id": "acaf1e1b.164f7",
		"type": "debug",
		"z": "8745e7c6.e1db58",
		"name": "light-sql-res",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"x": 930,
		"y": 160,
		"wires": []
	},
	{
		"id": "bd435187.922c78",
		"type": "function",
		"z": "8745e7c6.e1db58",
		"name": "PARSE payload",
		"func": "msg.topic = \"INSERT INTO home_light (zone,light) VALUES (?,?)\";\nmsg.payload = [msg.payload.zone, msg.payload.light];\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 620,
		"y": 140,
		"wires": [
			[
				"2011e2a.651dc1e",
				"908b4424.26da88"
			]
		]
	},
	{
		"id": "75eafab.a481a84",
		"type": "mqtt in",
		"z": "8745e7c6.e1db58",
		"name": "",
		"topic": "server_webh/node-red/light/Out",
		"qos": "2",
		"broker": "4166f4c1.e5e924",
		"x": 270,
		"y": 140,
		"wires": [
			[
				"83337bbf.d4aa"
			]
		]
	},
	{
		"id": "83337bbf.d4aa",
		"type": "json",
		"z": "8745e7c6.e1db58",
		"name": "",
		"property": "payload",
		"action": "",
		"pretty": false,
		"x": 470,
		"y": 140,
		"wires": [
			[
				"bd435187.922c78"
			]
		]
	},
	{
		"id": "94088817.95805",
		"type": "http in",
		"z": "8745e7c6.e1db58",
		"name": "",
		"url": "/light/all=:state",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 240,
		"y": 500,
		"wires": [
			[
				"62bb97b4.250ea8",
				"f334d5fc.2ed32"
			]
		]
	},
	{
		"id": "f334d5fc.2ed32",
		"type": "http response",
		"z": "8745e7c6.e1db58",
		"name": "",
		"statusCode": "",
		"headers": {},
		"x": 410,
		"y": 520,
		"wires": []
	},
	{
		"id": "5344d9a0.8c4008",
		"type": "mqtt out",
		"z": "8745e7c6.e1db58",
		"name": "",
		"topic": "server_webh/node-red/light/All",
		"qos": "",
		"retain": "true",
		"broker": "199c5347.570325",
		"x": 630,
		"y": 500,
		"wires": []
	},
	{
		"id": "62bb97b4.250ea8",
		"type": "template",
		"z": "8745e7c6.e1db58",
		"name": "",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{{req.params.state}}",
		"output": "json",
		"x": 420,
		"y": 480,
		"wires": [
			[
				"40b67d8e.247adc",
				"5344d9a0.8c4008"
			]
		]
	},
	{
		"id": "40b67d8e.247adc",
		"type": "debug",
		"z": "8745e7c6.e1db58",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"x": 570,
		"y": 460,
		"wires": []
	},
	{
		"id": "8631a206.895cc8",
		"type": "debug",
		"z": "8745e7c6.e1db58",
		"name": "broker",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"x": 310,
		"y": 60,
		"wires": []
	},
	{
		"id": "908b4424.26da88",
		"type": "debug",
		"z": "8745e7c6.e1db58",
		"name": "parse-light",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"x": 790,
		"y": 120,
		"wires": []
	},
	{
		"id": "8f02538.2d7063",
		"type": "http in",
		"z": "8745e7c6.e1db58",
		"name": "",
		"url": "/alarm/timeperiod",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 250,
		"y": 760,
		"wires": [
			[
				"ef91cd84.7ad29"
			]
		]
	},
	{
		"id": "6640a359.afd49c",
		"type": "http response",
		"z": "8745e7c6.e1db58",
		"name": "",
		"statusCode": "",
		"headers": {},
		"x": 950,
		"y": 780,
		"wires": []
	},
	{
		"id": "d97008.7491e7f8",
		"type": "debug",
		"z": "8745e7c6.e1db58",
		"name": "timeperiod-sql-res",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"x": 990,
		"y": 720,
		"wires": []
	},
	{
		"id": "ee1ad4fa.3574e8",
		"type": "mysql",
		"z": "8745e7c6.e1db58",
		"mydb": "25892498.bc4f14",
		"name": "MYSQL",
		"x": 620,
		"y": 760,
		"wires": [
			[
				"a85f2eb5.c8023",
				"d97008.7491e7f8"
			]
		]
	},
	{
		"id": "ef91cd84.7ad29",
		"type": "function",
		"z": "8745e7c6.e1db58",
		"name": "PARSE payload",
		"func": "msg.topic = \"SELECT `time_start`, `time_end` FROM `home_alarm_schedule` WHERE 1\";\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 460,
		"y": 760,
		"wires": [
			[
				"ee1ad4fa.3574e8"
			]
		]
	},
	{
		"id": "81fe7fba.cef4e",
		"type": "function",
		"z": "8745e7c6.e1db58",
		"name": "PARSE payload",
		"func": "msg.topic = \"UPDATE `home_alarm_schedule` SET `time_start`=?,`time_end`=? WHERE 1\";\nmsg.payload = [msg.payload.time_start, msg.payload.time_end];\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 480,
		"y": 620,
		"wires": [
			[
				"d6ca081e.98bf5"
			]
		]
	},
	{
		"id": "d6ca081e.98bf5",
		"type": "mysql",
		"z": "8745e7c6.e1db58",
		"mydb": "25892498.bc4f14",
		"name": "MYSQL",
		"x": 640,
		"y": 600,
		"wires": [
			[
				"68a6a542.bc13cc"
			]
		]
	},
	{
		"id": "a85f2eb5.c8023",
		"type": "function",
		"z": "8745e7c6.e1db58",
		"name": "",
		"func": "var newMsg = { payload: msg.payload[0] };\nreturn newMsg;",
		"outputs": 1,
		"noerr": 0,
		"x": 750,
		"y": 760,
		"wires": [
			[
				"d97008.7491e7f8",
				"6640a359.afd49c"
			]
		]
	},
	{
		"id": "4e1dd7e3.b797",
		"type": "link out",
		"z": "7f05e41b.e8f3fc",
		"name": "light_out_mysql",
		"links": [
			"a862d61f.4e947",
			"a4ae87d8.fc34b8",
			"5637a159.d62d8",
			"7c0d754e.9fec64"
		],
		"x": 395,
		"y": 140,
		"wires": []
	},
	{
		"id": "8ac4a7cf.5b707",
		"type": "link in",
		"z": "7f05e41b.e8f3fc",
		"name": "light_in_http",
		"links": [
			"31e2cb8.9f64c34",
			"19bcd471.2d7ae4",
			"add03a32.9df938"
		],
		"x": 575,
		"y": 200,
		"wires": [
			[
				"9a792818.aa5828"
			]
		]
	},
	{
		"id": "1f6d6205.74c22e",
		"type": "link in",
		"z": "7f05e41b.e8f3fc",
		"name": "light_all_zone",
		"links": [
			"19bcd471.2d7ae4",
			"70263a63.1fba64",
			"70c32a1f.fef7ec",
			"489271e5.da5c5",
			"2d033638.871d1a"
		],
		"x": 575,
		"y": 260,
		"wires": [
			[
				"c2b8d46a.aded38"
			]
		]
	},
	{
		"id": "b241f1cb.1cef3",
		"type": "link in",
		"z": "7f05e41b.e8f3fc",
		"name": "alarm_timeperiod_post",
		"links": [
			"298b561c.392eda",
			"6c103c58.4a1674"
		],
		"x": 575,
		"y": 380,
		"wires": [
			[
				"22eb4eed.d90572"
			]
		]
	},
	{
		"id": "337d7495.09e704",
		"type": "comment",
		"z": "5bf978a3.8d3568",
		"name": "set la plage horaire et active l'alarme",
		"info": "",
		"x": 200,
		"y": 40,
		"wires": []
	},
	{
		"id": "9b925607.4e06",
		"type": "http in",
		"z": "5bf978a3.8d3568",
		"name": "",
		"url": "/alarm/timeperiod",
		"method": "post",
		"upload": false,
		"swaggerDoc": "",
		"x": 170,
		"y": 100,
		"wires": [
			[
				"b13f95f4.91e9e",
				"713580a4.4291a8",
				"7913ffc4.25404",
				"6c103c58.4a1674"
			]
		]
	},
	{
		"id": "b13f95f4.91e9e",
		"type": "http response",
		"z": "5bf978a3.8d3568",
		"name": "",
		"statusCode": "",
		"headers": {},
		"x": 370,
		"y": 120,
		"wires": []
	},
	{
		"id": "713580a4.4291a8",
		"type": "function",
		"z": "5bf978a3.8d3568",
		"name": "PARSE payload",
		"func": "msg.topic = \"UPDATE `home_alarm_schedule` SET `time_start`=?,`time_end`=? WHERE 1\";\nmsg.payload = [msg.payload.time_start, msg.payload.time_end];\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 380,
		"y": 80,
		"wires": [
			[
				"c34ea0e6.87cdf8"
			]
		]
	},
	{
		"id": "c34ea0e6.87cdf8",
		"type": "mysql",
		"z": "5bf978a3.8d3568",
		"mydb": "25892498.bc4f14",
		"name": "MYSQL",
		"x": 540,
		"y": 80,
		"wires": [
			[
				"b5bf9af8.a6091"
			]
		]
	},
	{
		"id": "7913ffc4.25404",
		"type": "debug",
		"z": "5bf978a3.8d3568",
		"name": "post-timeperiod",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"x": 1000,
		"y": 100,
		"wires": []
	},
	{
		"id": "50641b99.dfefc4",
		"type": "mysql",
		"z": "5bf978a3.8d3568",
		"mydb": "25892498.bc4f14",
		"name": "MYSQL",
		"x": 840,
		"y": 80,
		"wires": [
			[
				"7913ffc4.25404"
			]
		]
	},
	{
		"id": "b5bf9af8.a6091",
		"type": "function",
		"z": "5bf978a3.8d3568",
		"name": "alarmUpdate",
		"func": "msg.topic = \"INSERT INTO `home_alarm_state`(`state`) VALUES (1)\";\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 690,
		"y": 80,
		"wires": [
			[
				"50641b99.dfefc4"
			]
		]
	},
	{
		"id": "6c103c58.4a1674",
		"type": "link out",
		"z": "5bf978a3.8d3568",
		"name": "alarm_timeperiod_post",
		"links": [
			"b241f1cb.1cef3"
		],
		"x": 575,
		"y": 120,
		"wires": []
	},
	{
		"id": "aa4913b8.a9b438",
		"type": "http in",
		"z": "5bf978a3.8d3568",
		"name": "",
		"url": "/alarm/timeperiod",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 170,
		"y": 360,
		"wires": [
			[
				"bf135753.9986e"
			]
		]
	},
	{
		"id": "7ec9d78d.41c49",
		"type": "http response",
		"z": "5bf978a3.8d3568",
		"name": "",
		"statusCode": "",
		"headers": {},
		"x": 670,
		"y": 380,
		"wires": []
	},
	{
		"id": "20ef818.a370d7e",
		"type": "mysql",
		"z": "5bf978a3.8d3568",
		"mydb": "25892498.bc4f14",
		"name": "MYSQL",
		"x": 540,
		"y": 360,
		"wires": [
			[
				"b666b948.f44e1",
				"7ec9d78d.41c49"
			]
		]
	},
	{
		"id": "bf135753.9986e",
		"type": "function",
		"z": "5bf978a3.8d3568",
		"name": "PARSE payload",
		"func": "msg.topic = \"SELECT `time_start`, `time_end` FROM `home_alarm_schedule` WHERE 1\";\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 380,
		"y": 360,
		"wires": [
			[
				"20ef818.a370d7e"
			]
		]
	},
	{
		"id": "b666b948.f44e1",
		"type": "debug",
		"z": "5bf978a3.8d3568",
		"name": "timeperiod-sql-res",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"x": 990,
		"y": 360,
		"wires": []
	},
	{
		"id": "5feecfd4.5ab1a",
		"type": "http in",
		"z": "5bf978a3.8d3568",
		"name": "",
		"url": "/alarm=:state",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 160,
		"y": 240,
		"wires": [
			[
				"796daa05.0acb3c",
				"432d2fa1.72db58"
			]
		]
	},
	{
		"id": "432d2fa1.72db58",
		"type": "http response",
		"z": "5bf978a3.8d3568",
		"name": "",
		"statusCode": "",
		"headers": {},
		"x": 330,
		"y": 260,
		"wires": []
	},
	{
		"id": "796daa05.0acb3c",
		"type": "template",
		"z": "5bf978a3.8d3568",
		"name": "",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{{req.params.state}}",
		"output": "json",
		"x": 340,
		"y": 220,
		"wires": [
			[
				"b233b6bd.26719",
				"33a3d1e0.1c623e"
			]
		]
	},
	{
		"id": "b233b6bd.26719",
		"type": "debug",
		"z": "5bf978a3.8d3568",
		"name": "",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"x": 1010,
		"y": 220,
		"wires": []
	},
	{
		"id": "33a3d1e0.1c623e",
		"type": "link out",
		"z": "5bf978a3.8d3568",
		"name": "alarm_state_get",
		"links": [
			"59fdea76.557494",
			"ac3cd82e.7d7a18"
		],
		"x": 495,
		"y": 260,
		"wires": []
	},
	{
		"id": "834621dc.2b2118",
		"type": "mqtt out",
		"z": "7f05e41b.e8f3fc",
		"name": "",
		"topic": "server_webh/node-red/alarm/state",
		"qos": "",
		"retain": "true",
		"broker": "199c5347.570325",
		"x": 800,
		"y": 320,
		"wires": []
	},
	{
		"id": "ac3cd82e.7d7a18",
		"type": "link in",
		"z": "7f05e41b.e8f3fc",
		"name": "alarm_state_getAlarm",
		"links": [
			"33a3d1e0.1c623e"
		],
		"x": 575,
		"y": 320,
		"wires": [
			[
				"834621dc.2b2118"
			]
		]
	},
	{
		"id": "b98112fb.c3a538",
		"type": "comment",
		"z": "7f05e41b.e8f3fc",
		"name": "MQTT request",
		"info": "",
		"x": 150,
		"y": 100,
		"wires": []
	},
	{
		"id": "562be580.3058ac",
		"type": "debug",
		"z": "5bf978a3.8d3568",
		"name": "alarm alert",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"x": 1010,
		"y": 500,
		"wires": []
	},
	{
		"id": "4e92b6f4.2e0ca",
		"type": "switch",
		"z": "5bf978a3.8d3568",
		"name": "",
		"property": "payload.signal",
		"propertyType": "msg",
		"rules": [{
				"t": "eq",
				"v": "1",
				"vt": "num"
			},
			{
				"t": "eq",
				"v": "0",
				"vt": "num"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 2,
		"x": 390,
		"y": 580,
		"wires": [
			[
				"7df6cf32.a14108",
				"d26eb182.9db348",
				"6250de0d.ac4e9"
			],
			[
				"2c994a88.784106"
			]
		]
	},
	{
		"id": "b84f815c.8b31e8",
		"type": "json",
		"z": "5bf978a3.8d3568",
		"name": "",
		"property": "payload",
		"action": "",
		"pretty": true,
		"x": 330,
		"y": 500,
		"wires": [
			[
				"4e92b6f4.2e0ca",
				"562be580.3058ac"
			]
		]
	},
	{
		"id": "e2d3604c.038fa",
		"type": "mysql",
		"z": "5bf978a3.8d3568",
		"mydb": "386b7aa4.00e7c6",
		"name": "MYSQL",
		"x": 780,
		"y": 600,
		"wires": [
			[
				"6cdca9fd.eed658"
			]
		]
	},
	{
		"id": "7df6cf32.a14108",
		"type": "function",
		"z": "5bf978a3.8d3568",
		"name": "select zone",
		"func": "msg.topic = \"SELECT description FROM home_zone WHERE zone = '\" + msg.payload.zone + \"';\";\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 570,
		"y": 600,
		"wires": [
			[
				"e2d3604c.038fa"
			]
		]
	},
	{
		"id": "6cdca9fd.eed658",
		"type": "function",
		"z": "5bf978a3.8d3568",
		"name": "JSON create",
		"func": "var today = new Date();\nvar day = today.getDate() + \"\";\nvar month = (today.getMonth() + 1) + \"\";\nvar year = today.getFullYear() + \"\";\nvar hour = today.getHours() + \"\";\nvar minutes = today.getMinutes() + \"\";\nvar seconds = today.getSeconds() + \"\";\nvar milliseconds = today.getMilliseconds() + \"\";\nvar date = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minutes + \":\" + seconds + \".\" + milliseconds + \"000\";\nmsg.payload = {\n    'lieu': msg.payload[0].description,\n    'hour': context.global.newMsg.hour,\n    'min' : context.global.newMsg.min,\n    'date' : date\n}\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 810,
		"y": 660,
		"wires": [
			[
				"f82643e4.c7487"
			]
		]
	},
	{
		"id": "d26eb182.9db348",
		"type": "function",
		"z": "5bf978a3.8d3568",
		"name": "save",
		"func": "context.global.newMsg = msg.payload;\nvar ms = context.global;\nreturn ms;",
		"outputs": 1,
		"noerr": 0,
		"x": 550,
		"y": 640,
		"wires": [
			[]
		]
	},
	{
		"id": "f82643e4.c7487",
		"type": "http request",
		"z": "5bf978a3.8d3568",
		"name": "",
		"method": "POST",
		"ret": "txt",
		"url": "https://webh.ddns.net/bddapi/incident/add",
		"tls": "",
		"x": 970,
		"y": 660,
		"wires": [
			[
				"69f540ec.e4ab78"
			]
		]
	},
	{
		"id": "69f540ec.e4ab78",
		"type": "debug",
		"z": "5bf978a3.8d3568",
		"name": "response",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"x": 1020,
		"y": 600,
		"wires": []
	},
	{
		"id": "6250de0d.ac4e9",
		"type": "function",
		"z": "5bf978a3.8d3568",
		"name": "insertNewAlarmState1",
		"func": "msg.topic = \"INSERT INTO home_alarm_state (state) VALUES ('1');\"\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 600,
		"y": 560,
		"wires": [
			[
				"89a4c0fc.e2e61"
			]
		]
	},
	{
		"id": "89a4c0fc.e2e61",
		"type": "mysql",
		"z": "5bf978a3.8d3568",
		"mydb": "386b7aa4.00e7c6",
		"name": "MYSQL",
		"x": 780,
		"y": 560,
		"wires": [
			[]
		]
	},
	{
		"id": "2c994a88.784106",
		"type": "function",
		"z": "5bf978a3.8d3568",
		"name": "insertNewAlarmState0",
		"func": "msg.topic = \"INSERT INTO home_alarm_state (state) VALUES (0);\"\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 560,
		"y": 700,
		"wires": [
			[
				"fe9dfdc9.000528"
			]
		]
	},
	{
		"id": "fe9dfdc9.000528",
		"type": "mysql",
		"z": "5bf978a3.8d3568",
		"mydb": "386b7aa4.00e7c6",
		"name": "MYSQL",
		"x": 780,
		"y": 700,
		"wires": [
			[
				"fe203fe9.3d309"
			]
		]
	},
	{
		"id": "95c8059b.8edbe8",
		"type": "http in",
		"z": "5bf978a3.8d3568",
		"name": "",
		"url": "/disable/alarm",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 160,
		"y": 600,
		"wires": [
			[
				"7f0e4c5.b11edb4"
			]
		]
	},
	{
		"id": "cc908517.e5138",
		"type": "comment",
		"z": "5bf978a3.8d3568",
		"name": "Desactiver alarme",
		"info": "",
		"x": 150,
		"y": 560,
		"wires": []
	},
	{
		"id": "60a7fcee.859294",
		"type": "comment",
		"z": "5bf978a3.8d3568",
		"name": "alerte depuis homeIO",
		"info": "",
		"x": 160,
		"y": 460,
		"wires": []
	},
	{
		"id": "7f0e4c5.b11edb4",
		"type": "function",
		"z": "5bf978a3.8d3568",
		"name": "disableAlarm",
		"func": "msg.payload = {\"alarm\" : 0};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 330,
		"y": 700,
		"wires": [
			[
				"2c994a88.784106",
				"a367307d.eb00e"
			]
		]
	},
	{
		"id": "1dc8007f.496918",
		"type": "http in",
		"z": "5bf978a3.8d3568",
		"name": "",
		"url": "/alarm/info",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 150,
		"y": 860,
		"wires": [
			[
				"770236b3.7f8e78"
			]
		]
	},
	{
		"id": "770236b3.7f8e78",
		"type": "function",
		"z": "5bf978a3.8d3568",
		"name": "getAlarmState",
		"func": "msg.topic = \"SELECT state FROM home_alarm_state WHERE id = (SELECT MAX(id) FROM home_alarm_state)\";\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 340,
		"y": 860,
		"wires": [
			[
				"2b9163fd.70788c"
			]
		]
	},
	{
		"id": "2b9163fd.70788c",
		"type": "mysql",
		"z": "5bf978a3.8d3568",
		"mydb": "386b7aa4.00e7c6",
		"name": "MYSQL",
		"x": 500,
		"y": 860,
		"wires": [
			[
				"35da4825.cddb5"
			]
		]
	},
	{
		"id": "fab588bb.8b92f",
		"type": "debug",
		"z": "5bf978a3.8d3568",
		"name": "",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"x": 1010,
		"y": 860,
		"wires": []
	},
	{
		"id": "cda61d46.fec628",
		"type": "http response",
		"z": "5bf978a3.8d3568",
		"name": "",
		"statusCode": "",
		"headers": {},
		"x": 950,
		"y": 900,
		"wires": []
	},
	{
		"id": "718f8c3f.83de0c",
		"type": "comment",
		"z": "5bf978a3.8d3568",
		"name": "Recupérer l'état de l'alarme",
		"info": "",
		"x": 170,
		"y": 820,
		"wires": []
	},
	{
		"id": "35da4825.cddb5",
		"type": "change",
		"z": "5bf978a3.8d3568",
		"name": "",
		"rules": [{
			"t": "set",
			"p": "payload",
			"pt": "msg",
			"to": "payload[0]",
			"tot": "msg"
		}],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 660,
		"y": 860,
		"wires": [
			[
				"223e7525.d3c6ca"
			]
		]
	},
	{
		"id": "223e7525.d3c6ca",
		"type": "function",
		"z": "5bf978a3.8d3568",
		"name": "boolean",
		"func": "if(msg.payload.state === \"1\")\n    msg.payload.state = true;\nelse\n    msg.payload.state = false;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 820,
		"y": 860,
		"wires": [
			[
				"cda61d46.fec628",
				"fab588bb.8b92f"
			]
		]
	},
	{
		"id": "fe203fe9.3d309",
		"type": "debug",
		"z": "5bf978a3.8d3568",
		"name": "",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"x": 1010,
		"y": 700,
		"wires": []
	},
	{
		"id": "52d236eb.17b808",
		"type": "link in",
		"z": "5bf978a3.8d3568",
		"name": "siren_alert_in",
		"links": [
			"45004ffe.effaa",
			"c94bf0f.e1b399"
		],
		"x": 235,
		"y": 500,
		"wires": [
			[
				"b84f815c.8b31e8"
			]
		]
	},
	{
		"id": "154aeb34.50c9ed",
		"type": "mqtt in",
		"z": "7f05e41b.e8f3fc",
		"name": "",
		"topic": "server_webh/node-red/siren",
		"qos": "2",
		"broker": "4166f4c1.e5e924",
		"x": 200,
		"y": 440,
		"wires": [
			[
				"c94bf0f.e1b399"
			]
		]
	},
	{
		"id": "c94bf0f.e1b399",
		"type": "link out",
		"z": "7f05e41b.e8f3fc",
		"name": "siren_alert_out",
		"links": [
			"52d236eb.17b808"
		],
		"x": 395,
		"y": 440,
		"wires": []
	},
	{
		"id": "a367307d.eb00e",
		"type": "link out",
		"z": "5bf978a3.8d3568",
		"name": "disable_alarm",
		"links": [
			"c3f12dc7.23d86"
		],
		"x": 475,
		"y": 740,
		"wires": []
	},
	{
		"id": "348a5804.74cc68",
		"type": "mqtt out",
		"z": "7f05e41b.e8f3fc",
		"name": "",
		"topic": "server_webh/node-red/stopAlarm",
		"qos": "",
		"retain": "",
		"broker": "4166f4c1.e5e924",
		"x": 800,
		"y": 500,
		"wires": []
	},
	{
		"id": "894dc5f6.c6fdc8",
		"type": "link in",
		"z": "7f05e41b.e8f3fc",
		"name": "cut_alarm_homeIO",
		"links": [
			"a124ab62.67ce8"
		],
		"x": 575,
		"y": 500,
		"wires": [
			[
				"348a5804.74cc68"
			]
		]
	},
	{
		"id": "89b677ae.9f4608",
		"type": "mqtt out",
		"z": "7f05e41b.e8f3fc",
		"name": "",
		"topic": "server_webh/node-red/alarm/activated",
		"qos": "",
		"retain": "",
		"broker": "199c5347.570325",
		"x": 790,
		"y": 560,
		"wires": []
	},
	{
		"id": "777eaf8c.c9485",
		"type": "link in",
		"z": "7f05e41b.e8f3fc",
		"name": "smartlight_in",
		"links": [
			"85bbcf3b.5abd7",
			"44cf7b40.e062b4"
		],
		"x": 575,
		"y": 560,
		"wires": [
			[
				"89b677ae.9f4608"
			]
		]
	},
	{
		"id": "d87b430c.007d98",
		"type": "http in",
		"z": "633f8708.338368",
		"name": "",
		"url": "/lightstate",
		"method": "post",
		"upload": false,
		"swaggerDoc": "",
		"x": 150,
		"y": 200,
		"wires": [
			[
				"99d8d2a9.93597",
				"a90b9aa8.d5a9a",
				"add03a32.9df938"
			]
		]
	},
	{
		"id": "e99e33ec.51adc8",
		"type": "comment",
		"z": "633f8708.338368",
		"name": "change l'état de la lumière dans une zone                                            ",
		"info": "",
		"x": 220,
		"y": 160,
		"wires": []
	},
	{
		"id": "99d8d2a9.93597",
		"type": "http response",
		"z": "633f8708.338368",
		"name": "",
		"statusCode": "",
		"headers": {},
		"x": 310,
		"y": 220,
		"wires": []
	},
	{
		"id": "a90b9aa8.d5a9a",
		"type": "debug",
		"z": "633f8708.338368",
		"name": "post-lightstate",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"x": 1060,
		"y": 200,
		"wires": []
	},
	{
		"id": "add03a32.9df938",
		"type": "link out",
		"z": "633f8708.338368",
		"name": "light_in_http",
		"links": [
			"8ac4a7cf.5b707"
		],
		"x": 475,
		"y": 180,
		"wires": []
	},
	{
		"id": "999fac8f.0764c8",
		"type": "http in",
		"z": "633f8708.338368",
		"name": "",
		"url": "/homezone",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 150,
		"y": 580,
		"wires": [
			[
				"b1217321.06b7b"
			]
		]
	},
	{
		"id": "8faabbd5.7a2f1",
		"type": "http response",
		"z": "633f8708.338368",
		"name": "",
		"statusCode": "",
		"headers": {},
		"x": 630,
		"y": 600,
		"wires": []
	},
	{
		"id": "aef8af56.b7e1c",
		"type": "debug",
		"z": "633f8708.338368",
		"name": "homezone-sql-res",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"x": 1050,
		"y": 580,
		"wires": []
	},
	{
		"id": "f91ad690.7ec6e8",
		"type": "mysql",
		"z": "633f8708.338368",
		"mydb": "25892498.bc4f14",
		"name": "MYSQL",
		"x": 500,
		"y": 580,
		"wires": [
			[
				"aef8af56.b7e1c",
				"8faabbd5.7a2f1"
			]
		]
	},
	{
		"id": "b1217321.06b7b",
		"type": "function",
		"z": "633f8708.338368",
		"name": "PARSE payload",
		"func": "msg.topic = \"SELECT l.zone, home_zone.description, l.light FROM home_light l INNER JOIN (SELECT zone, max(id) as maxId FROM home_light GROUP BY zone) j ON l.zone = j.zone AND l.id = j.maxId INNER JOIN home_zone ON l.zone = home_zone.zone\";\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 340,
		"y": 580,
		"wires": [
			[
				"f91ad690.7ec6e8"
			]
		]
	},
	{
		"id": "f002bf45.2336d",
		"type": "http in",
		"z": "633f8708.338368",
		"name": "",
		"url": "/light/all=:state",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 160,
		"y": 460,
		"wires": [
			[
				"bf49ffcd.8311a",
				"91b100c3.eb5d08"
			]
		]
	},
	{
		"id": "91b100c3.eb5d08",
		"type": "http response",
		"z": "633f8708.338368",
		"name": "",
		"statusCode": "",
		"headers": {},
		"x": 330,
		"y": 480,
		"wires": []
	},
	{
		"id": "bf49ffcd.8311a",
		"type": "template",
		"z": "633f8708.338368",
		"name": "",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{{req.params.state}}",
		"output": "json",
		"x": 340,
		"y": 440,
		"wires": [
			[
				"cde6c9b1.4114e",
				"2d033638.871d1a"
			]
		]
	},
	{
		"id": "cde6c9b1.4114e",
		"type": "debug",
		"z": "633f8708.338368",
		"name": "",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"x": 1070,
		"y": 440,
		"wires": []
	},
	{
		"id": "2d033638.871d1a",
		"type": "link out",
		"z": "633f8708.338368",
		"name": "light_out_mysql",
		"links": [
			"1f6d6205.74c22e"
		],
		"x": 475,
		"y": 480,
		"wires": []
	},
	{
		"id": "d0f8f013.07f11",
		"type": "comment",
		"z": "633f8708.338368",
		"name": "Activer le mode smartLight",
		"info": "",
		"x": 170,
		"y": 40,
		"wires": []
	},
	{
		"id": "cbd7e29e.8b2d1",
		"type": "http in",
		"z": "633f8708.338368",
		"name": "",
		"url": "/smartlight=:state",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 170,
		"y": 80,
		"wires": [
			[
				"f3fd640a.0dadc8",
				"d7cd4804.e435d"
			]
		]
	},
	{
		"id": "f3fd640a.0dadc8",
		"type": "template",
		"z": "633f8708.338368",
		"name": "",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{{req.params.state}}",
		"output": "json",
		"x": 360,
		"y": 60,
		"wires": [
			[
				"dee05bff.0142e",
				"44cf7b40.e062b4"
			]
		]
	},
	{
		"id": "d7cd4804.e435d",
		"type": "http response",
		"z": "633f8708.338368",
		"name": "",
		"statusCode": "",
		"headers": {},
		"x": 350,
		"y": 100,
		"wires": []
	},
	{
		"id": "dee05bff.0142e",
		"type": "debug",
		"z": "633f8708.338368",
		"name": "",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"x": 1070,
		"y": 60,
		"wires": []
	},
	{
		"id": "769e714.c7b6e9",
		"type": "mysql",
		"z": "633f8708.338368",
		"mydb": "25892498.bc4f14",
		"name": "MYSQL",
		"x": 920,
		"y": 360,
		"wires": [
			[
				"2838e11b.785b86"
			]
		]
	},
	{
		"id": "2838e11b.785b86",
		"type": "debug",
		"z": "633f8708.338368",
		"name": "light-sql-res",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"x": 1070,
		"y": 360,
		"wires": []
	},
	{
		"id": "a5e3b2bc.55971",
		"type": "function",
		"z": "633f8708.338368",
		"name": "PARSE payload",
		"func": "msg.topic = \"INSERT INTO home_light (zone,light) VALUES (?,?)\";\nmsg.payload = [msg.payload.zone, msg.payload.light];\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 760,
		"y": 340,
		"wires": [
			[
				"769e714.c7b6e9",
				"1ac38e43.217b72"
			]
		]
	},
	{
		"id": "a8e62eb.ad931d",
		"type": "json",
		"z": "633f8708.338368",
		"name": "",
		"property": "payload",
		"action": "",
		"pretty": false,
		"x": 610,
		"y": 340,
		"wires": [
			[
				"a5e3b2bc.55971"
			]
		]
	},
	{
		"id": "1ac38e43.217b72",
		"type": "debug",
		"z": "633f8708.338368",
		"name": "parse-light",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"x": 1070,
		"y": 320,
		"wires": []
	},
	{
		"id": "7c0d754e.9fec64",
		"type": "link in",
		"z": "633f8708.338368",
		"name": "",
		"links": [
			"4e1dd7e3.b797",
			"1a1c2354.11a655"
		],
		"x": 515,
		"y": 340,
		"wires": [
			[
				"a8e62eb.ad931d"
			]
		]
	},
	{
		"id": "44cf7b40.e062b4",
		"type": "link out",
		"z": "633f8708.338368",
		"name": "smartlight_out",
		"links": [
			"c21329c6.93f9c8",
			"777eaf8c.c9485",
			"c3f12dc7.23d86"
		],
		"x": 475,
		"y": 100,
		"wires": []
	},
	{
		"id": "6536277d.3b58e8",
		"type": "comment",
		"z": "7f05e41b.e8f3fc",
		"name": "mise à jour de l'état de la lumière depuis homeIO",
		"info": "",
		"x": 740,
		"y": 140,
		"wires": []
	},
	{
		"id": "df48d543.1d422",
		"type": "comment",
		"z": "7f05e41b.e8f3fc",
		"name": "alerte  de la sirène ",
		"info": "",
		"x": 650,
		"y": 440,
		"wires": []
	},
	{
		"id": "4e7221f3.dae77",
		"type": "comment",
		"z": "7f05e41b.e8f3fc",
		"name": "mise à jour de l'état de la lumère vers homeIO",
		"info": "",
		"x": 250,
		"y": 200,
		"wires": []
	},
	{
		"id": "f592b477.010248",
		"type": "comment",
		"z": "7f05e41b.e8f3fc",
		"name": "signal pour changer l'état de toute les lumières ",
		"info": "",
		"x": 250,
		"y": 260,
		"wires": []
	},
	{
		"id": "c36b75a5.6e0f58",
		"type": "comment",
		"z": "7f05e41b.e8f3fc",
		"name": "désactivée/Activée l'alarme",
		"info": "",
		"x": 190,
		"y": 320,
		"wires": []
	},
	{
		"id": "12680587.18a422",
		"type": "comment",
		"z": "7f05e41b.e8f3fc",
		"name": "active et envoie une plage horaire",
		"info": "",
		"x": 210,
		"y": 380,
		"wires": []
	},
	{
		"id": "5bd83fc6.8c75f",
		"type": "comment",
		"z": "7f05e41b.e8f3fc",
		"name": "couper l'alarme",
		"info": "",
		"x": 160,
		"y": 500,
		"wires": []
	},
	{
		"id": "11132646.d041f2",
		"type": "comment",
		"z": "7f05e41b.e8f3fc",
		"name": "active l'alarme (la sécurité)",
		"info": "",
		"x": 190,
		"y": 560,
		"wires": []
	},
	{
		"id": "92469a44.26b5",
		"type": "comment",
		"z": "633f8708.338368",
		"name": "mise à jour de l'état de la lumière dans la bdd",
		"info": "",
		"x": 230,
		"y": 280,
		"wires": []
	},
	{
		"id": "60767484.506e64",
		"type": "comment",
		"z": "633f8708.338368",
		"name": "mise à jour de l'état de toutes les lumières ",
		"info": "",
		"x": 220,
		"y": 400,
		"wires": []
	},
	{
		"id": "dec51e10.ee308",
		"type": "comment",
		"z": "633f8708.338368",
		"name": "récupère l'état des lumières dans toutes les zones",
		"info": "",
		"x": 250,
		"y": 540,
		"wires": []
	},
	{
		"id": "59c540e4.17ca38",
		"type": "comment",
		"z": "5bf978a3.8d3568",
		"name": "set l'état de l'alarme",
		"info": "",
		"x": 150,
		"y": 180,
		"wires": []
	},
	{
		"id": "4c1952fd.819df4",
		"type": "comment",
		"z": "5bf978a3.8d3568",
		"name": "set l'état de l'alarme",
		"info": "",
		"x": 150,
		"y": 320,
		"wires": []
	},
	{
		"id": "ea479fc0.f99898",
		"type": "mqtt out",
		"z": "7f05e41b.e8f3fc",
		"name": "",
		"topic": "server_webh/node-red/alarmState",
		"qos": "",
		"retain": "",
		"broker": "199c5347.570325",
		"x": 800,
		"y": 620,
		"wires": []
	},
	{
		"id": "c3f12dc7.23d86",
		"type": "link in",
		"z": "7f05e41b.e8f3fc",
		"name": "disable_alarm",
		"links": [
			"a367307d.eb00e"
		],
		"x": 575,
		"y": 620,
		"wires": [
			[
				"ea479fc0.f99898"
			]
		]
	},
	{
		"id": "7688f1f9.b142e",
		"type": "comment",
		"z": "7f05e41b.e8f3fc",
		"name": "désactiver l'alarme",
		"info": "",
		"x": 170,
		"y": 620,
		"wires": []
	},
	{
		"id": "a56a5a9f.cda5e8",
		"type": "comment",
		"z": "5bf978a3.8d3568",
		"name": "couper  l'alarme",
		"info": "c",
		"x": 140,
		"y": 940,
		"wires": []
	},
	{
		"id": "9281d4fb.6bfeb8",
		"type": "inject",
		"z": "7f05e41b.e8f3fc",
		"name": "",
		"topic": "",
		"payload": "0",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 450,
		"y": 660,
		"wires": [
			[
				"ea479fc0.f99898"
			]
		]
	},
	{
		"id": "8bb3a0e2.d71978",
		"type": "inject",
		"z": "7f05e41b.e8f3fc",
		"name": "",
		"topic": "",
		"payload": "0",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 450,
		"y": 540,
		"wires": [
			[
				"348a5804.74cc68"
			]
		]
	},
	{
		"id": "2e3be7c4.7cf29",
		"type": "http in",
		"z": "5bf978a3.8d3568",
		"name": "",
		"url": "/cutalarm",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 150,
		"y": 980,
		"wires": [
			[
				"6846f659.8175e8",
				"436e34b3.6a0b1c"
			]
		]
	},
	{
		"id": "6846f659.8175e8",
		"type": "http response",
		"z": "5bf978a3.8d3568",
		"name": "",
		"statusCode": "",
		"headers": {},
		"x": 310,
		"y": 1000,
		"wires": []
	},
	{
		"id": "53257f63.12b838",
		"type": "debug",
		"z": "5bf978a3.8d3568",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"x": 1010,
		"y": 960,
		"wires": []
	},
	{
		"id": "a124ab62.67ce8",
		"type": "link out",
		"z": "5bf978a3.8d3568",
		"name": "cut_alarm",
		"links": [
			"894dc5f6.c6fdc8"
		],
		"x": 435,
		"y": 1000,
		"wires": []
	},
	{
		"id": "436e34b3.6a0b1c",
		"type": "template",
		"z": "5bf978a3.8d3568",
		"name": "",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "0",
		"output": "str",
		"x": 320,
		"y": 960,
		"wires": [
			[
				"a124ab62.67ce8",
				"53257f63.12b838"
			]
		]
	},
	{
		"id": "359bb6e3.2ab80a",
		"type": "inject",
		"z": "7f05e41b.e8f3fc",
		"name": "",
		"topic": "",
		"payload": "1",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 450,
		"y": 700,
		"wires": [
			[
				"ea479fc0.f99898"
			]
		]
	}
]