homeio/Node-Red/NodeRedClient.txt
[{"id":"9cbc7cab.68937","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"41651b04.173064","type":"tab","label":"Command Lights","disabled":false,"info":""},{"id":"96d7a3a.d3fba6","type":"tab","label":"Alarm","disabled":false,"info":""},{"id":"58505d41.3330e4","type":"tab","label":"Motion","disabled":false,"info":""},{"id":"d5094c6.f64f8b","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"590643ff.55b01c","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2fac5bbd.8d3654","type":"mqtt-broker","z":"","name":"","broker":"jareon.ddns.net","port":"8080","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3b504a85.921dd6","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"97de2e79.bd4f8","type":"mosca in","z":"9cbc7cab.68937","mqtt_port":1883,"mqtt_ws_port":"8080","name":"","username":"","password":"","dburl":"","x":229,"y":73,"wires":[[]]},{"id":"18df7117.468bbf","type":"mqtt in","z":"9cbc7cab.68937","name":"entree","topic":"test","qos":"2","broker":"590643ff.55b01c","x":131,"y":148,"wires":[["2bfc4cb5.e508a4"]]},{"id":"36b1ffaa.b1098","type":"mqtt out","z":"9cbc7cab.68937","name":"sortie","topic":"test","qos":"2","retain":"","broker":"3b504a85.921dd6","x":363,"y":222,"wires":[]},{"id":"8bc6bfb3.5b719","type":"inject","z":"9cbc7cab.68937","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":172,"y":221,"wires":[["36b1ffaa.b1098"]]},{"id":"2bfc4cb5.e508a4","type":"debug","z":"9cbc7cab.68937","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":323,"y":146,"wires":[]},{"id":"e2547fa8.4f531","type":"mqtt out","z":"9cbc7cab.68937","name":"","topic":"/home/A/Output/bool/Lights","qos":"2","retain":"","broker":"3b504a85.921dd6","x":575,"y":362,"wires":[]},{"id":"c52f8b56.ad12f8","type":"inject","z":"9cbc7cab.68937","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":144,"y":327,"wires":[["e2547fa8.4f531"]]},{"id":"18ad6a80.4f18c6","type":"inject","z":"9cbc7cab.68937","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":141,"y":388,"wires":[["e2547fa8.4f531"]]},{"id":"b6eded80.c70ae","type":"mqtt in","z":"9cbc7cab.68937","name":"","topic":"mqtt","qos":"2","broker":"2fac5bbd.8d3654","x":116.5,"y":550.1499633789062,"wires":[["567cac5f.73b9f4"]]},{"id":"567cac5f.73b9f4","type":"json","z":"9cbc7cab.68937","name":"","property":"payload","action":"","pretty":false,"x":267.5,"y":549.4500122070312,"wires":[["e2547fa8.4f531"]]},{"id":"16af9bf7.178b14","type":"mqtt in","z":"41651b04.173064","name":"Server Light In","topic":"server_webh/node-red/light/In","qos":"0","broker":"2fac5bbd.8d3654","x":100,"y":420,"wires":[["4e1741bb.0e363"]]},{"id":"5538021c.4b2fcc","type":"switch","z":"41651b04.173064","name":"switch","property":"payload.zone","propertyType":"msg","rules":[{"t":"eq","v":"A","vt":"str"},{"t":"eq","v":"B","vt":"str"},{"t":"eq","v":"C","vt":"str"},{"t":"eq","v":"D","vt":"str"},{"t":"eq","v":"E","vt":"str"},{"t":"eq","v":"F","vt":"str"},{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"H","vt":"str"},{"t":"eq","v":"I","vt":"str"},{"t":"eq","v":"J","vt":"str"},{"t":"eq","v":"K","vt":"str"},{"t":"eq","v":"L","vt":"str"},{"t":"eq","v":"M","vt":"str"},{"t":"eq","v":"N","vt":"str"},{"t":"eq","v":"O","vt":"str"}],"checkall":"true","repair":false,"outputs":15,"x":570,"y":400,"wires":[[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]]},{"id":"d3bccac8.4bad58","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/B/Output/float/Lights_1_(Analog)","qos":"2","retain":"","broker":"3b504a85.921dd6","x":1040,"y":200,"wires":[]},{"id":"378a955d.1db50a","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/C/Output/bool/Lights","qos":"2","retain":"","broker":"3b504a85.921dd6","x":980,"y":80,"wires":[]},{"id":"44e2ea9.3e6f514","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/D/Output/float/Lights_2_(Analog)","qos":"2","retain":"","broker":"3b504a85.921dd6","x":1040,"y":240,"wires":[]},{"id":"20525ce1.7be8f4","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/E/Output/float/Lights_(Analog)","qos":"2","retain":"","broker":"3b504a85.921dd6","x":1030,"y":280,"wires":[]},{"id":"cdeeae86.bb0e3","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/F/Output/float/Lights_1_(Analog)","qos":"2","retain":"","broker":"3b504a85.921dd6","x":1040,"y":320,"wires":[]},{"id":"b40ef5d.9b7d608","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/G/Output/float/Lights_(Analog)","qos":"2","retain":"","broker":"3b504a85.921dd6","x":1030,"y":360,"wires":[]},{"id":"45359e58.0dcd1","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/H/Output/float/Lights_(Analog)","qos":"2","retain":"","broker":"3b504a85.921dd6","x":1030,"y":400,"wires":[]},{"id":"d58bc4b.a34c138","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/A/Output/bool/Lights","qos":"2","retain":"","broker":"3b504a85.921dd6","x":980,"y":40,"wires":[]},{"id":"820fc802.76e7e8","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/I/Output/float/Lights_1_(Analog)","qos":"2","retain":"","broker":"3b504a85.921dd6","x":1030,"y":440,"wires":[]},{"id":"d26a2178.be1d","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/J/Output/float/Lights_(Analog)","qos":"2","retain":"","broker":"3b504a85.921dd6","x":1030,"y":480,"wires":[]},{"id":"fba0e0f8.86eea","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/K/Output/float/Lights_(Analog)","qos":"2","retain":"","broker":"3b504a85.921dd6","x":1030,"y":520,"wires":[]},{"id":"4e1741bb.0e363","type":"json","z":"41651b04.173064","name":"","property":"payload","action":"","pretty":true,"x":290,"y":400,"wires":[["bdbe460c.a72038","1bd62e25.89f6b2"]]},{"id":"a3902952.a7d7a8","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/A/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":130,"y":600,"wires":[["3481ee8d.edf0c2"]]},{"id":"61793fa.e8c45c","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/L/Output/float/Lights_(Analog)","qos":"2","retain":"","broker":"3b504a85.921dd6","x":1030,"y":560,"wires":[]},{"id":"769706c.6d889f8","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/M/Output/float/Lights_(Analog)","qos":"2","retain":"","broker":"3b504a85.921dd6","x":1030,"y":600,"wires":[]},{"id":"a65f1a52.ace228","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/L/Output/float/Lights_(Analog)","qos":"2","retain":"","broker":"3b504a85.921dd6","x":1030,"y":640,"wires":[]},{"id":"1f241068.b851a","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/O/Output/float/Lights_Porch_1_(Analog)","qos":"2","retain":"","broker":"3b504a85.921dd6","x":1060,"y":680,"wires":[]},{"id":"47f9d3e3.8a079c","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/B/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":130,"y":640,"wires":[["3481ee8d.edf0c2"]]},{"id":"bf2fe451.3b7a98","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/C/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":130,"y":680,"wires":[["3481ee8d.edf0c2"]]},{"id":"cfd0c61b.9d4048","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/D/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":130,"y":720,"wires":[["3481ee8d.edf0c2"]]},{"id":"dd440647.02fac8","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/E/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":130,"y":760,"wires":[["3481ee8d.edf0c2"]]},{"id":"2585645a.a4226c","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/F/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":130,"y":800,"wires":[["3481ee8d.edf0c2"]]},{"id":"e38c2868.444488","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/G/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":140,"y":840,"wires":[["3481ee8d.edf0c2"]]},{"id":"99a36629.b0ea48","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/H/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":130,"y":880,"wires":[["3481ee8d.edf0c2"]]},{"id":"19b1e941.43a587","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/I/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":130,"y":920,"wires":[["3481ee8d.edf0c2"]]},{"id":"ea28d35a.d89d1","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/J/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":130,"y":960,"wires":[["3481ee8d.edf0c2"]]},{"id":"6cc9bb92.8b0af4","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/K/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":130,"y":1000,"wires":[["3481ee8d.edf0c2"]]},{"id":"7b7675e6.edc33c","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/L/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":130,"y":1040,"wires":[["3481ee8d.edf0c2"]]},{"id":"4e750570.e6808c","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/M/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":140,"y":1080,"wires":[["3481ee8d.edf0c2"]]},{"id":"9b396c44.c25a7","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/N/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":130,"y":1120,"wires":[["3481ee8d.edf0c2"]]},{"id":"534c8de4.b23614","type":"mqtt in","z":"41651b04.173064","name":"","topic":"/home/O/Output/bool/Lights","qos":"2","broker":"3b504a85.921dd6","x":140,"y":1160,"wires":[["3481ee8d.edf0c2"]]},{"id":"3481ee8d.edf0c2","type":"function","z":"41651b04.173064","name":"object build","func":"var msg;\nswitch(msg.topic) {\n    case \"/home/A/Output/bool/Lights\":\n        var index=\"A\";\n        break;\n    case \"/home/B/Output/bool/Lights\":\n        var index=\"B\";\n        break;\n    case \"/home/C/Output/bool/Lights\":\n        var index=\"C\";\n        break;\n    case \"/home/D/Output/bool/Lights\":\n        var index=\"D\";\n        break;\n    case \"/home/E/Output/bool/Lights\":\n        var index=\"E\";\n        break;\n    case \"/home/F/Output/bool/Lights\":\n        var index=\"F\";\n        break;\n    case \"/home/G/Output/bool/Lights\":\n        var index=\"G\";\n        break;\n    case \"/home/H/Output/bool/Lights\":\n        var index=\"H\";\n        break;\n    case \"/home/I/Output/bool/Lights\":\n        var index=\"I\";\n        break;\n    case \"/home/J/Output/bool/Lights\":\n        var index=\"J\";\n        break;\n    case \"/home/K/Output/bool/Lights\":\n        var index=\"K\";\n        break;\n    case \"/home/L/Output/bool/Lights\":\n        var index=\"L\";\n        break;\n    case \"/home/M/Output/bool/Lights\":\n        var index=\"M\";\n        break;\n    case \"/home/N/Output/bool/Lights\":\n        var index=\"N\";\n        break;\n    case \"/home/O/Output/bool/Lights\":\n        var index=\"O\";\n        break;\n}\nif(msg.payload===\"false\"){\n    var zone = index;\n    var light =0;\n}else{\n var zone = index;\n var light = 1;\n}\nmsg='{\"zone\":\"'+index+'\",\"light\":'+light+'}';\nreturn { payload:msg};","outputs":1,"noerr":0,"x":450,"y":840,"wires":[["f806437f.bd0ca"]]},{"id":"c79082a0.b22f9","type":"mqtt out","z":"41651b04.173064","name":"","topic":"server_webh/node-red/light/Out","qos":"2","retain":"","broker":"2fac5bbd.8d3654","x":790,"y":940,"wires":[]},{"id":"f806437f.bd0ca","type":"json","z":"41651b04.173064","name":"","property":"payload","action":"","pretty":false,"x":610,"y":840,"wires":[["c79082a0.b22f9"]]},{"id":"f2f126ad.64eec8","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/A/Input/bool/Door_Detector_2","qos":"2","broker":"590643ff.55b01c","x":180,"y":100,"wires":[["3c1bdcc4.ffd3a4"]]},{"id":"37fc5541.bd3f8a","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/D/Input/bool/Door_Detector","qos":"2","broker":"590643ff.55b01c","x":180,"y":140,"wires":[["3c1bdcc4.ffd3a4"]]},{"id":"5d2d769c.da5e98","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/E/Input/bool/Door_Detector_1","qos":"2","broker":"3b504a85.921dd6","x":180,"y":180,"wires":[["3c1bdcc4.ffd3a4"]]},{"id":"bf1da61c.7c6ca8","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/E/Input/bool/Door_Detector_2","qos":"2","broker":"3b504a85.921dd6","x":180,"y":220,"wires":[["3c1bdcc4.ffd3a4"]]},{"id":"96a85649.467f08","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/H/Input/boolDoor_Detector_1","qos":"2","broker":"590643ff.55b01c","x":180,"y":260,"wires":[["3c1bdcc4.ffd3a4"]]},{"id":"cb792a46.7fcf18","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/H/Input/boolDoor_Detector_2","qos":"2","broker":"3b504a85.921dd6","x":180,"y":300,"wires":[["3c1bdcc4.ffd3a4"]]},{"id":"5c879b3c.dd1524","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/A/Input/bool/Door_Detector_1","qos":"2","broker":"590643ff.55b01c","x":180,"y":60,"wires":[["3c1bdcc4.ffd3a4"]]},{"id":"9df983aa.2d047","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/H/Input/bool/Door_Detector_2","qos":"2","broker":"3b504a85.921dd6","x":180,"y":340,"wires":[["3c1bdcc4.ffd3a4"]]},{"id":"e1e0577c.458458","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/J/Input/bool/Door_Detector_2","qos":"2","broker":"3b504a85.921dd6","x":180,"y":380,"wires":[["3c1bdcc4.ffd3a4"]]},{"id":"393575e3.2c728a","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/J/Input/bool/Door_Detector_2","qos":"2","broker":"3b504a85.921dd6","x":180,"y":420,"wires":[["3c1bdcc4.ffd3a4"]]},{"id":"958df873.4246f8","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/M/Input/bool/Door_Detector_2","qos":"2","broker":"3b504a85.921dd6","x":180,"y":460,"wires":[["3c1bdcc4.ffd3a4"]]},{"id":"88828004.663b3","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/M/Input/bool/Door_Detector_2","qos":"2","broker":"3b504a85.921dd6","x":180,"y":500,"wires":[["3c1bdcc4.ffd3a4"]]},{"id":"ede34b18.3aaea8","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/N/Input/bool/Door_Detector_2","qos":"2","broker":"3b504a85.921dd6","x":180,"y":540,"wires":[[]]},{"id":"698b2037.4c947","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/N/Input/bool/Door_Detector_2","qos":"2","broker":"3b504a85.921dd6","x":180,"y":580,"wires":[["3c1bdcc4.ffd3a4"]]},{"id":"e2dfdb3e.419ea8","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"/home/F/Input/bool/Motion_Detector","qos":"2","broker":"3b504a85.921dd6","x":180,"y":620,"wires":[["3c1bdcc4.ffd3a4"]]},{"id":"5d096295.a2559c","type":"mqtt out","z":"96d7a3a.d3fba6","name":"E siren","topic":"/home/E/Output/bool/Siren","qos":"2","retain":"","broker":"3b504a85.921dd6","x":720,"y":860,"wires":[]},{"id":"8f15a711.4a13f8","type":"mqtt out","z":"96d7a3a.d3fba6","name":"O siren","topic":"/home/O/Output/bool/Siren","qos":"2","retain":"","broker":"3b504a85.921dd6","x":720,"y":920,"wires":[]},{"id":"a305beaf.59ba7","type":"mqtt in","z":"41651b04.173064","name":"","topic":"EveryLightsOn","qos":"2","broker":"3b504a85.921dd6","x":100,"y":240,"wires":[["ce3fbca9.b066e"]]},{"id":"561ec17.7ea9c4","type":"mqtt out","z":"96d7a3a.d3fba6","name":"","topic":"EveryLightsOn","qos":"","retain":"","broker":"3b504a85.921dd6","x":740,"y":800,"wires":[]},{"id":"bd1d0c64.62939","type":"delay","z":"96d7a3a.d3fba6","name":"5MinutesSirenOff","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":700,"wires":[["9954e0a1.744bd"]]},{"id":"9954e0a1.744bd","type":"function","z":"96d7a3a.d3fba6","name":"SirenOff","func":"var nem\nnem = { payload:\"False\" };\nreturn nem","outputs":1,"noerr":0,"x":440,"y":920,"wires":[["5d096295.a2559c","8f15a711.4a13f8","d21d6bcd.95bf08"]]},{"id":"bbca015c.54206","type":"mqtt in","z":"96d7a3a.d3fba6","name":"CurrentTime","topic":"/home/general/Memory/DateTime/Date_and_Time","qos":"2","broker":"3b504a85.921dd6","x":110,"y":1120,"wires":[["e9dcca91.f87db8"]]},{"id":"e9dcca91.f87db8","type":"function","z":"96d7a3a.d3fba6","name":"dateParser","func":"var msg;\ndateString=msg.payload;\nvar elem = dateString.split(' ');\nvar HMinSec=elem[1].split(':');\nvar heure=HMinSec[0];\nvar min=HMinSec[1];\nvar sec=HMinSec[2];\nmsg='{\"hour\":\"'+heure+'\",\"min\":\"'+min+'\",\"sec\":\"'+sec+'\"}';\nreturn { payload:msg};","outputs":1,"noerr":0,"x":290,"y":1120,"wires":[["3679260a.efcfca"]]},{"id":"72dbe0c1.e4979","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"TimePeriod","qos":"2","broker":"2fac5bbd.8d3654","x":110,"y":1180,"wires":[["d1db53a.295d8b"]]},{"id":"3679260a.efcfca","type":"json","z":"96d7a3a.d3fba6","name":"","property":"payload","action":"","pretty":false,"x":450,"y":1120,"wires":[["a861f532.efb0e8"]]},{"id":"71f0cfab.cc4f6","type":"function","z":"96d7a3a.d3fba6","name":"dateParser","func":"var msg;\nvar spStart=msg.payload.time_start.split(':');\nheureStart=spStart[0];\nminStart=spStart[1];\nmsgStart='{\"hour\":\"'+heureStart+'\",\"min\":\"'+minStart+'\"}';\n\nvar spEnd=msg.payload.time_end.split(':');\nheureEnd=spEnd[0];\nminEnd=spEnd[1];\nmsgEnd='{\"hour\":\"'+heureEnd+'\",\"min\":\"'+minEnd+'\"}';\n\nmsgTot='{\"start\":'+msgStart+',\"end\":'+msgEnd+'}'\nreturn { payload:msgTot};","outputs":1,"noerr":0,"x":430,"y":1180,"wires":[["197267d6.2d8e78"]]},{"id":"d1db53a.295d8b","type":"json","z":"96d7a3a.d3fba6","name":"","property":"payload","action":"","pretty":false,"x":270,"y":1180,"wires":[["71f0cfab.cc4f6"]]},{"id":"ed63c6a.9666138","type":"file","z":"96d7a3a.d3fba6","name":"horaires","filename":"horaires","appendNewline":true,"createDir":true,"overwriteFile":"true","x":740,"y":1180,"wires":[]},{"id":"197267d6.2d8e78","type":"json","z":"96d7a3a.d3fba6","name":"","property":"payload","action":"","pretty":false,"x":590,"y":1180,"wires":[["ed63c6a.9666138"]]},{"id":"f6d2fbff.bbef78","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"IntrusionDetected","qos":"2","broker":"3b504a85.921dd6","x":100,"y":740,"wires":[["ee6c08f6.522cb8"]]},{"id":"8de6e858.a87f98","type":"function","z":"96d7a3a.d3fba6","name":"Authorisation","func":"var msg;\nvar heurecourante = context.flow;\n\nif(msg.payload === \"True\"){\n    return NULL;\n}else{\n    var config=2;\n    if(msg.payload.start.hour<msg.payload.end.hour){\n        var config=1;\n    }else if(msg.payload.start.hour==msg.payload.end.hour){\n        if(msg.payload.start.min<msg.payload.end.min){\n            var config=1;\n        }\n    }\n}\n\nvar authorisation = { payload:\"False\" };\nif(config==1){\n    if((heurecourante.hour>msg.payload.start.hour)||(heurecourante.hour==msg.payload.start.hour&&heurecourante.min>msg.payload.start.min)){\n        if((heurecourante.hour<msg.payload.end.hour)||((heurecourante.hour==msg.payload.end.hour)&&(heurecourante.min<=msg.payload.end.min))){\n           authorisation = { payload:\"True\" };\n        }\n    }\n}\nif(config==2){\n    if((heurecourante.hour>msg.payload.start.hour)||(heurecourante.hour==msg.payload.start.hour&&heurecourante.min>msg.payload.start.min)){\n        authorisation = { payload:\"True\" };\n    }\n    if((heurecourante.hour<msg.payload.end.hour)||(heurecourante.hour==msg.payload.end.hour&&heurecourante.min<msg.payload.end.min)){\n        authorisation = { payload:\"True\" };\n    }\n}\nreturn authorisation;","outputs":1,"noerr":0,"x":430,"y":860,"wires":[["5d096295.a2559c","8f15a711.4a13f8","bd1d0c64.62939","561ec17.7ea9c4","437b8b52.d193a4"]]},{"id":"ee6c08f6.522cb8","type":"file in","z":"96d7a3a.d3fba6","name":"horaires","filename":"horaires","format":"utf8","chunk":false,"sendError":false,"x":100,"y":860,"wires":[["8b9cc1de.6536c"]]},{"id":"8b9cc1de.6536c","type":"json","z":"96d7a3a.d3fba6","name":"","property":"payload","action":"","pretty":false,"x":230,"y":860,"wires":[["8de6e858.a87f98"]]},{"id":"5eb923e1.6ecc8c","type":"debug","z":"96d7a3a.d3fba6","name":"CheckServerCall","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1030,"y":640,"wires":[]},{"id":"a861f532.efb0e8","type":"function","z":"96d7a3a.d3fba6","name":"contextSet","func":"context.flow.hour = msg.payload.hour;\ncontext.flow.min=msg.payload.min;","outputs":1,"noerr":0,"x":610,"y":1120,"wires":[["a24d81af.0cf73"]]},{"id":"7a743fe0.5d906","type":"mqtt in","z":"41651b04.173064","name":"Server All Lights","topic":"server_webh/node-red/light/All","qos":"2","broker":"2fac5bbd.8d3654","x":100,"y":120,"wires":[["ce3fbca9.b066e"]]},{"id":"885f693.3384998","type":"mqtt out","z":"96d7a3a.d3fba6","name":"alarm signal to server","topic":"server_webh/node-red/siren","qos":"2","retain":"","broker":"2fac5bbd.8d3654","x":1040,"y":700,"wires":[]},{"id":"3c1bdcc4.ffd3a4","type":"function","z":"96d7a3a.d3fba6","name":"Intrusion Creator","func":"var msg;\nif(msg.payload==\"True\"){\n   return null;\n}else{\n    var roomID=msg.topic.split('/')[2];\n    var info={\"signal\":1,\"zone\":roomID,\"min\":context.flow.min,\"hour\":context.flow.hour};\n    context.flow.info=info;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":380,"wires":[["6ee960ae.32135","8ef5700b.55025"]]},{"id":"6ee960ae.32135","type":"debug","z":"96d7a3a.d3fba6","name":"DoorSignal","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":180,"wires":[]},{"id":"8ef5700b.55025","type":"mqtt out","z":"96d7a3a.d3fba6","name":"","topic":"IntrusionDetected","qos":"","retain":"","broker":"3b504a85.921dd6","x":880,"y":380,"wires":[]},{"id":"437b8b52.d193a4","type":"function","z":"96d7a3a.d3fba6","name":"Alarm Start Context","func":"\nreturn {payload:context.flow.info};","outputs":1,"noerr":0,"x":750,"y":700,"wires":[["5eb923e1.6ecc8c","885f693.3384998"]]},{"id":"d21d6bcd.95bf08","type":"function","z":"96d7a3a.d3fba6","name":"Alarm Shutdown","func":"\nreturn {payload:{\"signal\":0}};","outputs":1,"noerr":0,"x":760,"y":640,"wires":[["885f693.3384998","5eb923e1.6ecc8c"]]},{"id":"43e79124.2f5ca","type":"mqtt in","z":"58505d41.3330e4","name":"Mouvement A","topic":"/home/A/Input/bool/Motion_Detector","qos":"2","broker":"3b504a85.921dd6","x":110,"y":80,"wires":[["7302e578.73aa2c"]]},{"id":"b519a4fa.8c3288","type":"mqtt in","z":"58505d41.3330e4","name":"Mouvement B","topic":"/home/B/Input/bool/Motion_Detector","qos":"2","broker":"3b504a85.921dd6","x":110,"y":120,"wires":[["7302e578.73aa2c"]]},{"id":"801b027e.49265","type":"mqtt in","z":"58505d41.3330e4","name":"Mouvement D","topic":"/home/D/Input/bool/Motion_Detector","qos":"2","broker":"3b504a85.921dd6","x":110,"y":160,"wires":[["7302e578.73aa2c"]]},{"id":"606873ae.9dcfac","type":"mqtt in","z":"58505d41.3330e4","name":"Mouvement E","topic":"/home/E/Input/bool/Motion_Detector","qos":"2","broker":"3b504a85.921dd6","x":110,"y":200,"wires":[["7302e578.73aa2c"]]},{"id":"a3857f4d.f33bc","type":"mqtt in","z":"58505d41.3330e4","name":"Mouvement F","topic":"/home/F/Input/bool/Motion_Detector","qos":"2","broker":"3b504a85.921dd6","x":110,"y":240,"wires":[["7302e578.73aa2c"]]},{"id":"28f2cf15.54777","type":"mqtt in","z":"58505d41.3330e4","name":"Mouvement G","topic":"/home/G/Input/bool/Motion_Detector","qos":"2","broker":"3b504a85.921dd6","x":110,"y":280,"wires":[["7302e578.73aa2c"]]},{"id":"4e800d59.674274","type":"mqtt in","z":"58505d41.3330e4","name":"Mouvement H","topic":"/home/H/Input/bool/Motion_Detector","qos":"2","broker":"3b504a85.921dd6","x":110,"y":320,"wires":[["7302e578.73aa2c"]]},{"id":"7e9e5513.a6920c","type":"mqtt in","z":"58505d41.3330e4","name":"Mouvement I","topic":"/home/I/Input/bool/Motion_Detector","qos":"2","broker":"3b504a85.921dd6","x":110,"y":360,"wires":[["7302e578.73aa2c"]]},{"id":"83b68011.90beb","type":"mqtt in","z":"58505d41.3330e4","name":"Mouvement J","topic":"/home/J/Input/bool/Motion_Detector","qos":"2","broker":"3b504a85.921dd6","x":110,"y":400,"wires":[["7302e578.73aa2c"]]},{"id":"702df769.393e78","type":"mqtt in","z":"58505d41.3330e4","name":"Mouvement M","topic":"/home/M/Input/bool/Motion_Detector","qos":"2","broker":"3b504a85.921dd6","x":110,"y":440,"wires":[["7302e578.73aa2c"]]},{"id":"d5dc7951.8c2848","type":"mqtt in","z":"58505d41.3330e4","name":"Mouvement L","topic":"/home/L/Input/bool/Motion_Detector","qos":"2","broker":"3b504a85.921dd6","x":110,"y":480,"wires":[["7302e578.73aa2c"]]},{"id":"a41674e.102cd88","type":"mqtt in","z":"58505d41.3330e4","name":"Porte E","topic":"/home/E/Input/bool/Door_Detector_2","qos":"2","broker":"2fac5bbd.8d3654","x":130,"y":540,"wires":[[]]},{"id":"7302e578.73aa2c","type":"function","z":"58505d41.3330e4","name":"motion context set","func":"var msg;\n\nvar zone=msg.topic.split('/')[2];\nswitch(zone){\n    case \"A\":\n        context.global.motionzone.a=1;\n        break;\n    case \"B\":\n        context.global.motionzone.b=1;\n        break;\n    case \"D\":\n        context.global.motionzone.d=1;\n        break;\n    case \"E\":\n        context.global.motionzone.e=1;\n        break;\n    case \"F\":\n        context.global.motionzone.f=1;\n        break;\n    case \"G\":\n        context.global.motionzone.g=1;\n        break;\n    case \"H\":\n        context.global.motionzone.h=1;\n        break;\n    case \"I\":\n        context.global.motionzone.i=1;\n        break;\n    case \"J\":\n        context.global.motionzone.j=1;\n        break;\n    case \"M\":\n        context.global.motionzone.m=1;\n        break;\n    case \"L\":\n        context.global.motionzone.l=1;\n        break;\n}\nreturn {payload:zone};","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["95c8231b.09164","251c92b2.69268e","a4d7140.78486f"]]},{"id":"bdbe460c.a72038","type":"function","z":"41651b04.173064","name":"light context","func":"var msg;\nif(msg.payload.light===1){\n    switch(msg.payload.zone){\n        case \"A\":\n            context.global.lights.a=1;\n            break;\n        case \"B\":\n            context.global.lights.b=1;\n            break;\n        case \"C\":\n            context.global.lights.c=1;\n            break;\n        case \"D\":\n            context.global.lights.d=1;\n            break;\n        case \"E\":\n            context.global.lights.e=1;\n            break;\n        case \"F\":\n            context.global.lights.f=1;\n            break;\n        case \"G\":\n            context.global.lights.g=1;\n            break;\n        case \"H\":\n            context.global.lights.h=1;\n            break;\n        case \"I\":\n            context.global.lights.i=1;\n            break;\n        case \"J\":\n            context.global.lights.j=1;\n            break;\n        case \"K\":\n            context.global.lights.k=1;\n            break;\n        case \"M\":\n            context.global.lights.m=1;\n            break;\n        case \"L\":\n            context.global.lights.l=1;\n            break;\n        case \"N\":\n            context.global.lights.n=1;\n            break;\n        case \"O\":\n            context.global.lights.o=1;\n            break;\n        case \"P\":\n            context.global.lights.p=1;\n            break;\n    }\n}else{\n    switch(msg.payload.zone){\n        case \"A\":\n            context.global.lights.a=0;\n            break;\n        case \"B\":\n            context.global.lights.b=0;\n            break;\n        case \"C\":\n            context.global.lights.c=0;\n            break;\n        case \"D\":\n            context.global.lights.d=0;\n            break;\n        case \"E\":\n            context.global.lights.e=0;\n            break;\n        case \"F\":\n            context.global.lights.f=1;\n            break;\n        case \"G\":\n            context.global.lights.g=0;\n            break;\n        case \"H\":\n            context.global.lights.h=0;\n            break;\n        case \"I\":\n            context.global.lights.i=0;\n            break;\n        case \"J\":\n            context.global.lights.j=0;\n            break;\n        case \"K\":\n            context.global.lights.k=0;\n            break;\n        case \"M\":\n            context.global.lights.m=0;\n            break;\n        case \"L\":\n            context.global.lights.l=0;\n            break;\n        case \"N\":\n            context.global.lights.n=0;\n            break;\n        case \"O\":\n            context.global.lights.o=0;\n            break;\n        case \"P\":\n            context.global.lights.p=0;\n            break;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":400,"wires":[["5538021c.4b2fcc"]]},{"id":"9cd13289.f3674","type":"delay","z":"58505d41.3330e4","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":360,"wires":[["ba6040fa.6df3a"]]},{"id":"ba6040fa.6df3a","type":"function","z":"58505d41.3330e4","name":"turn off","func":"var msg;\nswitch(msg.payload.zone){\n    case \"A\":\n        context.global.motionzone.a=0;\n        break;\n    case \"B\":\n        context.global.motionzone.b=0;\n        break;\n    case \"D\":\n        context.global.motionzone.d=0;\n        break;\n    case \"E\":\n        context.global.motionzone.e=0;\n        break;\n    case \"F\":\n        context.global.motionzone.f=0;\n        break;\n    case \"G\":\n        context.global.motionzone.g=0;\n        break;\n    case \"H\":\n        context.global.motionzone.h=0;\n        break;\n    case \"I\":\n        context.global.motionzone.i=0;\n        break;\n    case \"J\":\n        context.global.motionzone.j=0;\n        break;\n    case \"M\":\n        context.global.motionzone.m=0;\n        break;\n    case \"L\":\n        context.global.motionzone.l=0;\n        break;\n}\nreturn {payload:{\"zone\":msg.payload.zone,\"light\":0}};","outputs":1,"noerr":0,"x":600,"y":360,"wires":[["276ca259.fc1c2e","2477e6cc.00bfaa"]]},{"id":"95c8231b.09164","type":"function","z":"58505d41.3330e4","name":"If light off turn on","func":"var msg;\nswitch(msg.payload){\n    case \"A\":\n        if (context.global.lights.a===0){\n            return {payload:{\"zone\":msg.payload,\"light\":1}};\n        }\n        break;\n    case \"B\":\n        if (context.global.lights.b===0){\n            return {payload:{\"zone\":msg.payload,\"light\":1}};\n        }\n                break;\n    case \"D\":\n        if (context.global.lights.d===0){\n            return {payload:{\"zone\":msg.payload,\"light\":1}};\n        }\n        break;\n    case \"E\":\n        if (context.global.lights.e===0){\n            return {payload:{\"zone\":msg.payload,\"light\":1}};\n        }\n        break;\n    case \"F\":\n        if (context.global.lights.f===0){\n            return {payload:{\"zone\":msg.payload,\"light\":1}};\n        }\n        break;\n    case \"G\":\n        if (context.global.lights.g===0){\n            return {payload:{\"zone\":msg.payload,\"light\":1}};\n        }\n        break;\n    case \"H\":\n        if (context.global.lights.h===0){\n            return {payload:{\"zone\":msg.payload,\"light\":1}};\n        }\n        break;\n    case \"G\":\n        if (context.global.lights.g===0){\n            return {payload:{\"zone\":msg.payload,\"light\":1}};\n        }\n        break;\n    case \"H\":\n        if (context.global.lights.h===0){\n            return {payload:{\"zone\":msg.payload,\"light\":1}};\n        }\n        break;\n    case \"I\":\n        if (context.global.lights.i===0){\n            return {payload:{\"zone\":msg.payload,\"light\":1}};\n        }\n        break;\n    case \"J\":\n        if (context.global.lights.j===0){\n            return {payload:{\"zone\":msg.payload,\"light\":1}};\n        }\n        break;\n    case \"M\":\n        if (context.global.lights.m===0){\n            return {payload:{\"zone\":msg.payload,\"light\":1}};\n        }\n        break;\n    case \"L\":\n        if (context.global.lights.l===0){\n            return {payload:{\"zone\":msg.payload,\"light\":1}};\n        }\n        break;        \n}\nreturn null;","outputs":1,"noerr":0,"x":570,"y":260,"wires":[["9cd13289.f3674","276ca259.fc1c2e","2477e6cc.00bfaa"]]},{"id":"276ca259.fc1c2e","type":"mqtt out","z":"58505d41.3330e4","name":"","topic":"LightMotionControl","qos":"2","retain":"","broker":"3b504a85.921dd6","x":790,"y":300,"wires":[]},{"id":"e86977e5.17da18","type":"mqtt in","z":"41651b04.173064","name":"","topic":"LightMotionControl","qos":"2","broker":"3b504a85.921dd6","x":110,"y":360,"wires":[["4e1741bb.0e363"]]},{"id":"a4d7140.78486f","type":"debug","z":"58505d41.3330e4","name":"From motion to light","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":520,"y":520,"wires":[]},{"id":"a24d81af.0cf73","type":"debug","z":"96d7a3a.d3fba6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":820,"y":1120,"wires":[]},{"id":"e370fbe.5d35708","type":"mqtt in","z":"96d7a3a.d3fba6","name":"","topic":"stopAlarm","qos":"2","broker":"2fac5bbd.8d3654","x":80,"y":920,"wires":[["9954e0a1.744bd","6ab54a34.a9f864"]]},{"id":"6ab54a34.a9f864","type":"debug","z":"96d7a3a.d3fba6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":280,"y":1000,"wires":[]},{"id":"54d76807.69fc38","type":"mqtt in","z":"d5094c6.f64f8b","name":"CurrentTime","topic":"/home/general/Memory/DateTime/Date_and_Time","qos":"2","broker":"3b504a85.921dd6","x":90,"y":180,"wires":[["513fded4.3530d"]]},{"id":"e733131b.6b4f9","type":"function","z":"d5094c6.f64f8b","name":"global light and motion init","func":"context.global.motionzone=msg.payload.motionzone;\ncontext.global.lights=msg.payload.lights;\nreturn {payload:context.global};","outputs":1,"noerr":0,"x":550,"y":180,"wires":[[]]},{"id":"513fded4.3530d","type":"function","z":"d5094c6.f64f8b","name":"motionzone and lights init","func":"var msg;\nif(context.global.motionzone.a!==undefined && context.global.lights.a!==undefined){\n    //return {payload:context.global};\n    return null;\n}\nif(!context.global.motionzone){\n    context.global.motionzone=0\n}\nif(!context.global.lights){\n    context.global.lights=0;\n}\nmotionzone={\"a\":0,\"b\":0,\"d\":0,\"e\":0,\"f\":0,\"g\":0,\"h\":0,\"i\":0,\"j\":0,\"m\":0,\"l\":0};\nlights={\"a\":0,\"b\":0,\"c\":0,\"d\":0,\"e\":0,\"f\":0,\"g\":0,\"h\":0,\"i\":0,\"j\":0,\"k\":0,\"m\":0,\"l\":0,\"n\":0,\"o\":0};\nreturn {payload:{\"motionzone\":motionzone,\"lights\":lights}};","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["e733131b.6b4f9"]]},{"id":"251c92b2.69268e","type":"debug","z":"58505d41.3330e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":180,"wires":[]},{"id":"2477e6cc.00bfaa","type":"function","z":"58505d41.3330e4","name":"","func":"var t=msg.payload;\nreturn {payload:{\"this\":t,\"glob\":context.global}};","outputs":1,"noerr":0,"x":780,"y":480,"wires":[["a4d7140.78486f"]]},{"id":"ce3fbca9.b066e","type":"function","z":"41651b04.173064","name":"lights context","func":"    var msg;\n    if (msg.payload===\"1\"||msg.payload===\"True\"){\n        var res=\"true\";\n    }else{\n        var res=\"false\";\n    }\n    \n    context.global.lights.a=msg.payload;\n    context.global.lights.b=msg.payload;\n    context.global.lights.c=msg.payload;\n    context.global.lights.d=msg.payload;\n    context.global.lights.e=msg.payload;\n    context.global.lights.f=msg.payload;\n    context.global.lights.g=msg.payload;\n    context.global.lights.h=msg.payload;\n    context.global.lights.i=msg.payload;\n    context.global.lights.j=msg.payload;\n    context.global.lights.k=msg.payload;\n    context.global.lights.m=msg.payload;\n    context.global.lights.l=msg.payload;\n    context.global.lights.n=msg.payload;\n    context.global.lights.o=msg.payload;\n    context.global.lights.p=msg.payload;\nreturn { payload: {\"light\":res }};","outputs":1,"noerr":0,"x":290,"y":180,"wires":[[]]},{"id":"1bd62e25.89f6b2","type":"debug","z":"41651b04.173064","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":480,"wires":[]},{"id":"92605704.770e78","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/D/Output/float/Lights_1_(Analog)","qos":"2","retain":"","broker":"3b504a85.921dd6","x":1380,"y":160,"wires":[]},{"id":"a11112f8.bc216","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/B/Output/float/Lights_2_(Analog)","qos":"2","retain":"","broker":"3b504a85.921dd6","x":1380,"y":80,"wires":[]},{"id":"6f9a7143.e5707","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/F/Output/float/Lights_2_(Analog)","qos":"2","retain":"","broker":"3b504a85.921dd6","x":1420,"y":300,"wires":[]},{"id":"a20a13dd.fd4a3","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/F/Output/float/Lights_(Analog)","qos":"2","retain":"","broker":"3b504a85.921dd6","x":1410,"y":260,"wires":[]},{"id":"baa2a17e.9f304","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/I/Output/float/Lights_2_(Analog)","qos":"2","retain":"","broker":"3b504a85.921dd6","x":1370,"y":400,"wires":[]},{"id":"d4f10527.deb788","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/O/Output/float/Lights_Porch_2_(Analog)","qos":"2","retain":"","broker":"3b504a85.921dd6","x":1060,"y":800,"wires":[]},{"id":"fd6a536.140b9b","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/O/Output/float/Lights_Pool_(Analog)","qos":"2","retain":"","broker":"3b504a85.921dd6","x":1050,"y":760,"wires":[]},{"id":"628e3af0.70cd34","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/O/Output/float/Lights_Garden_(Analog)","qos":"2","retain":"","broker":"3b504a85.921dd6","x":1060,"y":720,"wires":[]},{"id":"6341a8e4.5cae58","type":"function","z":"41651b04.173064","name":"lights","func":"var nem\nif(msg.payload.light === 1)\n    nem = { payload:9 };\nelse if(msg.payload.light===0)\n    nem = { payload:0 };\nelse if(msg.payload.light===\"false\")\n    nem = { payload:0 };\nif(msg.payload.light.light===\"true\")\n    nem = { payload:9 };\n\nreturn nem","outputs":1,"noerr":0,"x":410,"y":60,"wires":[[]]},{"id":"a970d5fd.252b58","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/E/Output/bool/Lights","qos":"2","retain":"","broker":"3b504a85.921dd6","x":980,"y":120,"wires":[]},{"id":"c925320c.b9cf3","type":"mqtt out","z":"41651b04.173064","name":"","topic":"/home/F/Output/bool/Lights","qos":"2","retain":"","broker":"3b504a85.921dd6","x":980,"y":160,"wires":[]}]